.b_capacity {

  overflow: hidden;

  &__main-text {

    padding-bottom: 8px;
    border-bottom: 4px solid @gray-light;

    @media screen and (min-width: @col-sm) {
      background: url("../img/bg-work.png") top left no-repeat;
      background-size: cover;

      padding-bottom: 22px;
      border-bottom: 0;
    }


    @media screen and (min-width: @col-lg) {
      background: url("../img/bg-work.png") top left no-repeat;
      background-size: 100% auto;
      padding-bottom: 0;
    }


  }

.text--intro {
    @media screen and (min-width: @col-lg) {
      max-width: 453px;
    }
  }

 &__sidebar-no-hit {

   font-size: 15px;
   line-height: 21px;
   padding-bottom: 30px;

   @media screen and (min-width: @col-sm) and (max-width: 1399px) {
     position: absolute;
     color: white;
     right: 11px;
     top: 152px;
     width: 255px;
     padding-bottom: 0;
   }

   @media screen and (min-width: @col-sm) {
     font-size: 13px;
     line-height: 17px;
     padding-bottom: 0;
   }

   @media screen and (min-width: @col-lg) {
     font-size: 16px;
     line-height: 23px;
   }

   .b-text {
     @media screen and (min-width: @col-sm) and (max-width: 1399px) {
       background: transparent;
     }
   }


 }

  &__header {
    @media screen and (max-width: 739px) {
      background: url(../img/bg-work.png) top left no-repeat;
      background-size: cover;
      margin: -34px -20px 33px -20px;
      padding: 94px 16px 10px 16px;
    }
 }



}
.b_capaciy__main-text__intro {
  @media screen and (min-width: @col-lg) {
    max-width: 453px;
  }
}

.capacity-infographic {

  color: #000;

  @media screen and (min-width: @col-sm) {
    color: white;

  }

 &__row {

   background-size: 77px auto!important;
       overflow: hidden;
   height: 94px;
   position: relative;

  &:before {
    @media screen and (max-width: 739px) {
      content: "";
      display: block;
      width: 278px;
      height: 2px;
      border-bottom: 1px dotted;
      top: 34px;
      position: absolute;
      left: 0;
    }
  }

      @media screen and (min-width: @col-sm) {
        background-size: 59px auto!important;
        max-width: 50%;
        border-bottom: 1px dotted;
      }

      @media screen and (min-width: @col-lg) {
        max-width: 483px;
        margin-bottom: 37px;
        background-size: 94px auto!important;

      }





      &--1 {

        background: url(../img/height-sm.svg) 0px 9px no-repeat;
        margin-bottom: 30px;

        @media screen and (min-width: @col-sm) {
          background: url("../img/height-sm-white.svg") bottom left no-repeat;
          margin-bottom: 55px;
        }
      }

   &--2 {
     background: url("../img/height-lg.svg")  top left no-repeat;
     @media screen and (max-width: 739px) {
       padding-top: 30px;
       height: 122px;
     }

     &:before {
       @media screen and (max-width: 739px) {
         top: 67px;
       }
     }

     @media screen and (min-width: @col-sm) {
       background: url("../img/height-lg-white.svg") bottom left no-repeat;
     }
   }


}
  &__number {

    font-size: 30px;
    line-height: 42px;
    font-weight: 900;
    margin-left: 92px;
    margin-top: -5px;

    @media screen and (min-width: @col-sm) {
      margin-left: 80px;
      float: left;
      margin-top: 0;

      padding-top: 52px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 50px;
      line-height: 61px;
      margin-left: 118px;
      padding-top: 37px;
    }

  }

  &__text {


    margin-left: 92px;
    padding-top: 9px;


    @media screen and (min-width: @col-sm) {
      float: right;
      margin-left: auto;
      padding-top: 51px;
    }
  }

}



.no-hit {
&__icon {

  width: 87px;
  margin-bottom: 15px;
  margin-top: 5px;

  @media screen and (min-width: @col-sm) {
    margin-bottom: 20px;
    width: 59px;
    margin-top: 0;
  }

  @media screen and (min-width: @col-lg) {
    margin-bottom: 35px;
    width: 200px;
    margin-top: 21px;
  }
}

}