.b_company {

&.b_section {
  @media screen and (max-width: 739px) {
    margin-bottom: 4px;
    padding-bottom: 19px;
  }
}

  @media screen and (min-width: @col-sm) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: @col-lg) {
    margin-bottom: 58px!important;
    margin-top: 58px;
  }

  &__slogan.b-slogan {
    font-size: 18px;

    @media screen and (min-width: @col-lg) {
      font-size: 26px;
      line-height: 31px;
    }
  }

  &__menu {



    a {
      height: 100px;
      display: block;

      @media screen and (min-width: @col-lg) {
        height: 304px;
      }

    }
  }
}

.b-menu--img {

  &__values {
    background: url("../img/nav-values.png") center 80% no-repeat;
    background-size: 100% auto;

    @media screen and (min-width: @col-lg) {
      background-position: center center;
    }
  }

  &__delivery {
    background: url("../img/nav-delivery-sm.png") center center no-repeat;
    background-size: 100% auto;

    @media screen and (min-width: @col-lg) {
      background-image: url("../img/nav-delivery.png");
    }
  }

  &__tech {
    background: url("../img/nav-tech.png") center 77% no-repeat;
    background-size: 100% auto;

    @media screen and (min-width: @col-lg) {
      background-position: center center;

    }
  }

  &__partners {
    background: url("../img/nav-partners.png") center 84% no-repeat;
    background-size: 100% auto;

    @media screen and (min-width: @col-lg) {
      background-position: center center;

    }
  }

  a:hover {
    @media screen and (min-width: @col-sm) {
      background-size: 103%;
    }

  }

}