.b_delivery {

  h3 {
    @media screen and (max-width: 739px) {
      position: absolute;
    }
  }

 /* &__map {
    background: url("../img/delivery-map-bg.png") top left no-repeat;
  }*/
&__map {
  overflow: hidden;
 /* height: 300px;
  background: url(../img/delivery-map--xs.svg) 0px 0px no-repeat;
  background-size: 100% auto;*/

  @media screen and (min-width: @col-sm) {
    background: url(../img/delivery-map-bg.png) 0px 0px no-repeat;
    height: 387px;
    background-position: -152px -55px;
  }

  @media screen and (min-width: @col-lg) {
    height: 474px;
    background-position: top left;
  }



  &__ul-xs {
    font-size: 15px;
    line-height: 21px;
    color: white;
    position: absolute;
    left: 16px;
    top: 50%;
    padding: 22px;
    padding-left: 30px;

    li {
      list-style-type: none;
      position: relative;

      &:before {
        content: "—";
        position: absolute;
        left: -26px;
      }
    }

  }
}
  &__h3 {
    position: absolute;
    left: 16px;

    @media screen and (min-width: @col-sm) {
      left: 20px;
    }
  }

  &__slogan {

    &.b-slogan {
      padding-top: 13px;
     @media screen and (max-width: 739px) {
      margin-bottom: 29px;
     }

      @media screen and (min-width: @col-sm) and (max-width: @col-lg) {
        font-size: 13px;
        line-height: 17px;
        margin-right: 10px;
        bottom: 26px;
      }

      @media screen and (min-width: @col-lg) {
        bottom: 20px;
      }


      &:before {
        width: 0;

        @media screen and (min-width: @col-sm) {
          width: 93px;
        }

        @media screen and (min-width: @col-lg) {
          width: 173px;
        }
      }

    }

    .font--infographic {

      @media screen and (max-width: 739px) {
        float: left;
        margin-right: 30px;
      }

      }




    &__number {
      display: block;
      font-size: 57.2973px;
      line-height: 52px;
      margin-bottom: 5px;

      @media screen and (min-width: @col-sm) {
        font-size: 74.5664px;
        line-height: 55px;
        margin-bottom: 0;
      }

      @media screen and (min-width: @col-lg) {
        font-size: 120px;
        line-height: 120px;
      }
    }

    &__days {
      display: block;
      font-size: 31.9362px;
      line-height: 14px;
      margin-bottom: 30px;

      @media screen and (min-width: @col-sm) {
        font-size: 41.5616px;
        line-height: 34px;
        margin-bottom: 13px;
      }

      @media screen and (min-width: @col-lg) {
        font-size: 67.2158px;
        line-height:  37px;
        margin-bottom: 40px;
      }

    }

  }
&__sidebar {
  .b-text {
  @media screen and (min-width: @col-sm) and (max-width: 1399px) {
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-all;
  }
  }


}

}

.markers-on-map {



    position: absolute;
    bottom: 0;

  @media screen and (min-width: @col-sm) {
    top: 0;
   left: 0;
  }


  li {

    list-style-type: none;
    font-size: 15px;
    line-height: 21px;
    position: relative;
    margin-bottom: 15px;
    margin-right: 15px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      border-bottom: 1px solid;
      width: 11px;
      margin-left: -23px;
      top: 9px;
    }

    @media screen and (min-width: @col-sm) {
      list-style-type: none;
      font-size: 15px;
      line-height: 21px;

      &:before {
        content: none;
      }

    }

    @media screen and (min-width: @col-lg) {
      font-size: 18px;
      line-height: 24px;
    }

  }

  &__popular {

    @media screen and (min-width: @col-sm) {
      position: absolute;
      left: 258px;
      top: 118px;
      max-width: 180px;
    }

    @media screen and (min-width: @col-lg) {
      max-width: 200px;
      left: 414px;
      top: 173px;
    }
  }

  &__unique {

    @media screen and (min-width: @col-sm) {
      position: absolute;
      top: 179px;
      left: 38px;
      max-width: 230px;
    }

    @media screen and (min-width: @col-lg) {
      top: 225px;
      left: 195px;
      max-width: 262px;
    }
  }
}