.filter {

  text-align: left;

  @media screen and (max-width: 1399px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: none;
  }










  &__header {

    &.b-text {
     /* padding-bottom: 15px;*/
      @media screen and (max-width: 1399px) {
        padding-right: 0;
      }
    }

    @media screen and (max-width: 1399px) {
    /*  border-bottom: 4px solid @gray-light;*/
      padding-top: 0!important;
    }

    @media screen and (min-width: 1400px) {
      margin-bottom: 4px;
    }





* > div {
  @media screen and (max-width: 1399px) {
    border-bottom: 4px solid @gray-light;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
  }

}
  }

  &__name {
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    padding-top: 4px;


  }



  &__footer {
    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid @gray-light;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }


    .button-all-filters {
width: 250px;
      margin: 0 auto;
    }
  }

  &__section {

    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid #e5e5e5;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }




    label, labal a, .btn-more, li a.like-filter {
      .filter-grey-btn();

      &.label--outside {
        background: none;
      }

      &:hover {
        background: #CBCBCB;
      }

    }

    li {
      a.like-filter {

      &:hover {
        background: #CBCBCB;
      }
    }
    }

    a {
      padding-left: 7px!important;
      padding-right: 7px!important;
    }

    input[type="checkbox"],
    input[type="radio"]{
      clip: rect(0,0,0,0);
      position: absolute;
    }
    input:checked + label
    {
      background: @brand-success;
      color: white;
    }
    ul {
      margin-bottom: 0;
    }

  }


  &__item--inline {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__item--pic {
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;


    label {
      width: 83px;
      height: 74px;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;

      i {
        font-size: 34px;
        top: 6px;
        display: block;
        position: relative;
        margin-bottom: 2px;
      }
    }
  }

  &__item--available {
    label,
    label:hover {
      position: relative;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      line-height: 27px;

      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 27px;
        border: 1px solid @gray;
        border-right: 1px solid @gray;
        border-left: 35px solid @gray;
        float: left;
        margin-right: 13px;
      }
    }
    input:checked + label {
      color: #000;
      background: transparent;


      &:before {
      border-color: @brand-success;
      border-right: 35px solid @brand-success;
      border-left: 1px solid @brand-success;
      }
    }
  }


  &__available {
    width: 60px;
    display: block;
    border: 1px solid @brand-success;
    background: #ffffff;

    & + .label--outside {
      padding-top: 5px;
    }
  }

  &__item--toggle {
    float: left;
    width: 23px;
    height: 25px;
    background: white;
    position: relative;

    &:first-child {
     /* width: 35px;*/
    }

    &:nth-child(2) {
      right: 0;
      width: 35px;
    }



    label {
      padding: 0;
      background: white;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
     /* width: 25px;*/

      &:hover {
        background: white;
      }


    }
    input:checked+label {

      background: @brand-success;
      width: 35px;
      min-width: 35px;
      z-index: 5;

    }

    &:first-child input:checked+label {
      background: @gray;
    }


    
  }





  .label.dropdown {
    width: 245px;
  }


&__button.btn--primary {
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-top: 6px;

  @media screen and (max-width: 739px) {
    padding-left: 16px;
    margin-bottom: 12px;
  }

  i {
    font-size: 0.6em;
    top: -2px;
    position: relative;
    margin-left: 5px;
  }
}

&__collections {
  margin-top: 11px;
  margin-bottom: 18px;

  .filter-section__name {
    margin-bottom: 0;
  }
}

 &__list-pics {
   overflow: hidden;
   padding-bottom: 20px;

   @media screen and (min-width: @col-lg) {
     padding-bottom: 0;
   }
 }

}

.filter-grey-btn() {
  cursor: pointer;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  background: @gray-light;
  position: relative;
  text-decoration: none;


  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.filter-results__tabs {
  margin-left: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

li a.like-filter {
  .filter-grey-btn();
  height: 25px;
  line-height: 25px;

  &:hover {
    background: #CBCBCB;
  }
}

li.active a.like-filter {
  background: @brand-success;
  color: white;
}



.filter .filter__body {

  @media screen and (max-width: 739px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: @col-sm) {
    margin-bottom: 0px;
  }

  @media screen and (max-width: 1399px) {

    overflow-y: auto;
    overflow-x: hidden;

    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    top: 117px;
    position: fixed;

  }


&.filter-on-index {
  &:after {
    @media screen and (min-width: @col-lg) {
      content: "";
      display: block;
      position: absolute;
      /* width: auto; */
      height: 83px;
      right: 2px;
      left: 3px;
      bottom: 77px;
      background: #ffffff;
      z-index: -1;
    }
  }
}



}

.button--clear {
  top: -2px;
  position: relative;
  height: 22px!important;

  @media screen and (min-width: @col-lg) {
    float: right;
    height: auto;
  }
}

.button-all-filters {
  display: block;
  text-align: center;
}

.button-show-more {
  display: block;
  text-align: center;

  @media screen and (min-width: @col-lg) {
    height: 54px!important;
    line-height: 54px!important;
  }


}

.f--hidden {
  display: none;
}

.button--close-filter {
  right: 32px;
  top: -43px;
  position: absolute;
  font-size: 16px!important;
}

.filter-section {
  &__name {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    display: block;
    margin-top: 9px;

    @media screen and (min-width: @col-lg) {
      margin-top: 3px;
    }
  }
}

.b_filter-results {
  &__view {

    margin-bottom: 4px;

    .b-text {

      padding-bottom: 10px;
      padding-top: 18px;
  }
}



}

.filter-results {
  &__sort {
    .select--styler {
      min-width: 178px;
    }

  }
}

.b_filter-header {
  background: url("../img/filter/top.png") center 64% no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 94px;
  margin-top: -4px;
  overflow: hidden;
  margin-bottom: 20px;


  @media screen and (min-width: @col-sm) {
    height: 198px;
    margin-top: -22px;
    background-position: center 60%;
  }

  @media screen and (min-width: @col-lg) {
    height: 246px;
    background-position: center 64%;
    margin-top: -22px;
  }

  .container {
    height: 100%;
  }



  &__number {


    color: white;
    font-weight: bold;
    line-height: 1;
    margin-right: 8px;
    font-size: 43px;
    margin-left: 15px;

    @media screen and (min-width: @col-sm) {
      font-size: 100px;
      margin-right: 20px;
      margin-left: 0;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 168px;
      margin-right: 40px;
    }

  }

  &__text {

    font-size: 24px;
    line-height: 18px;

    color: white;
    font-weight: bold;

    @media screen and (min-width: @col-sm) {
      font-size: 60px;
      line-height: 44px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 90px;
      line-height: 71px;
    }

  }

  &__big-title {
    position: absolute;
    bottom: -8px;


    @media screen and (min-width: @col-sm) {
      bottom: -19px;
    }

    @media screen and (min-width: @col-lg) {
      bottom: -33px;
    }
  }
}

.collections-panel-mob {
  &__header {
    background: white;
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 5px solid #F1F1F1;
    padding: 15px;
 }

  &__body {
   top: 58px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: auto;
    position: relative;

    ul, li {
      padding-left: 0;
      margin-left: 0;
      list-style-type: none;
    }

    li {
      border-bottom: 1px solid @gray-light;
    }

    input[type="checkbox"], input[type="radio"] {
      clip: rect(0, 0, 0, 0);
      position: absolute;
    }
  }

  &__footer {
    position: absolute;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    bottom: 0;
  }

  &__icon-back {
    color: @brand-success;
    font-size: 14px;
    margin-right: 5px;
  }


  label.checkbox {
    margin-left: 35px;
  }

  input:checked + label.checkbox:after {
    content: "\e823";
    display: block;
    position: absolute;
    color: #00894D;
    font-family: "tileland";
    font-style: normal;
    font-weight: normal;
    speak: none;
    top: 1px;
    left: -20px;
    font-size: 11px;
  }
}

.navbar-offcanvas {
  .collections-panel-mob__header,
  .collections-panel-mob__footer {
    display: none;
  }

}

.navbar-offcanvas.in {
  .collections-panel-mob__header,
  .collections-panel-mob__footer {
    display: block;
  }

}
.collections-panel-mob {
  overflow: hidden!important;
}

.filter__footer-btn {
  z-index: 1000;
  position: fixed;
  width: 100%;
  bottom: 0;
}