.b_keramo-width {

  font-size: 15px;
  line-height: 21px;
  overflow: hidden;

  @media screen and (max-width: 739px) {
    margin-bottom: 0!important;
  }

  @media screen and (min-width: @col-sm) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: @col-sm) {
    margin-bottom: 78px;
  }

  &__main-text {
    margin-bottom: 35px;

    @media screen and (min-width: @col-sm) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 87px;
    }
  }
  &__cutting-text {
    font-size: 15px;
    line-height: 21px;
    padding-top: 27px;


    border-top: 5px solid @gray-light;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: @col-sm) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      right: 0;
      top: 0;
      max-width: 186px;
      font-size: 13px;
      line-height: 18px;
      border-top: 0;
      padding-top: 0;

    }

    @media screen and (min-width: @col-lg) {


      max-width: 355px;
      font-size: 16px;
      line-height: 25px;
      right: 76px;

    }




p {

  margin-left: 90px;

  @media screen and (min-width: @col-sm) {
    margin-left: 0;
  }
}

  }

  &__img {
    margin-bottom: 12px;
    @media screen and (min-width: @col-sm) {
      margin-bottom: 28px;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 20px;
    }
  }

  .h3 {
    @media screen and (min-width: @col-sm) {
      margin-top: 7px;
    }
  }

}
.cutting-text {
  &__i {
    font-size: 63px;

    position: relative;
    float: left;

    @media screen and (min-width: @col-sm) {
      float: none;
      font-size: 77px;
      display: block;
      margin-bottom: 16px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 121px;
      margin-right: 35px;
      float: left;
      left: -15px;
    }
  }
}