.b_material {

  &__header {
    margin-bottom: 4px;

    @media screen and (max-width: 739px) {
      border-bottom: 4px solid #f1f1f1;
      margin-top: 10px;
      padding-bottom: 21px!important;
    }
    &.b-text {
    @media screen and (min-width: @col-lg) {

    margin-bottom: 5px;
      padding-top: 53px;
      padding-bottom: 53px;
    }
    }
    &__main-pic {
      margin-left: -21px;
    }

    .b-text {
      @media screen and (min-width: @col-lg) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }

  &__advantages {
    overflow: hidden;

    & > div {
      @media screen and (max-width: 739px) {
        border-bottom: 4px solid #f1f1f1;
      }
    }

    @media screen and (min-width: @col-sm) {
       min-height: 300px;
    }

    @media screen and (min-width: @col-lg) {
      min-height: 300px;
    }

/*    .custom {
      z-index: 0;
      position: relative;

      &:after {
        background: white;
        content: "";
        display: block;
        height: 100%;

        position: absolute;
        top: 0;
        left: 3px;

        z-index: 0;
        right: 2px;
      }

      .b-text {
        position: relative;
      }


    }*/




    &__header {
      font-size: 18px;
      line-height: 23px;
      font-weight: 900;
      min-height: 28px;


      @media screen and (min-width: @col-sm) {
        min-height: 30px;
        line-height: 15px;

      }

      @media screen and (min-width: @col-lg) {
        font-size: 24px;
        line-height: 29px;
        min-height: 35px;

      }
    }

    &__infographic {
      font-size: 40.0103px;
      line-height: 46px;
      display: block;
      margin-top: 13px;
      margin-bottom: 10px;

      @media screen and (min-width: @col-sm) {
        font-size: 26px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 3px;
      }

      @media screen and (min-width: @col-lg) {
        font-size: 52.0262px;
        line-height: 60px;
        margin-bottom: 10px;
      }
    }

    &__content {
      @media screen and (max-width: 739px) {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 9px;
      }

      &__first-line {
        display: block;

        @media screen and (min-width: @col-sm) {
          height: 136px;
        }

        @media screen and (min-width: @col-lg) {
          height: 103px;
          padding-right: 60px;
        }

      }

      &__img {

        margin-top: 30px;
        margin-bottom: -34px;

        @media screen and (min-width: @col-sm) {
          margin-bottom: 0;
          margin-top: 67px;
        }

        @media screen and (min-width: @col-lg) {
          margin-top: 51px;
        }

        .item {
          width: 33%;
        }
      }
    }
  }

  .icon-hammer {
    color: @brand-primary;
    position: relative;

    margin-left: -7px;
    font-size: 43px;


    &:before {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (min-width: @col-sm) {
      margin-left: -10px;
      top: -2px;
      font-size: 31px;
    }


    @media screen and (min-width: @col-lg) {
      margin-left: -10px;
      top: 2px;
      font-size: 57px;
    }
  }

  .icon-drop {
    color: #10B2C8;
    position: relative;
    margin-left: -9px;
    font-size: 35px;

    &:before {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (min-width: @col-sm) {
      margin-left: -10px;
     /* font-size: 40px;*/
      font-size: 25px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 43px;
      top: -2px;
      left: -10px;
      margin-left: 0;
    }
  }


}