
.b_strength {
  overflow: hidden;

h3 {
  @media screen and (max-width: 739px) {
    padding-top: 66px;
  }
}


  margin-bottom: 15px;
  position: relative;

  @media screen and (min-width: @col-sm) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: @col-lg) {
    margin-bottom: 40px;
  }

  &__main-text {

    background: url("../img/bg-car.png") top left no-repeat;
    background-size: cover;

    @media screen and (max-width: 739px) {

      padding-bottom: 0!important;
    }

@media screen and (min-width: @col-lg) {
  background: url("../img/bg-work.png") top left no-repeat;
}

    font-size: 15px;
    line-height: 140%;
    padding-bottom: 35px;

    @media screen and (min-width: @col-sm) {
      padding-bottom: 49px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 18px;
      line-height: 139%;
      padding-bottom: 75px;
    }

    &__intro {
      @media screen and (min-width: @col-lg) {
        max-width: 430px;
      }
    }
  }

  &__no-hit-text {
    font-size: 15px;
    line-height: 140%;
    text-align: left;

    &__icon {
      margin-bottom: 40px;
      width: 86px;
      margin-top: 53px;

      @media screen and (min-width: @col-sm) {
        margin-top: 0;
      }

      @media screen and (min-width: @col-lg) {
        width: 190px;
      }
    }

    @media screen and (min-width: @col-sm) and (max-width: 1399px) {

        position: absolute;
       width: 212px;
        right: 16px;
        top: 153px;
      color: white;

      .b-text {
        background: transparent;
      }
      }


    @media screen and (min-width: @col-sm) {
      font-size: 13px;
      line-height: 131%;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 16px;
      line-height: 144%;

    }

  }
}

@media screen and (max-width: @col-sm) {
.b_strength-infographic:before {
  content: "";
  position: absolute;
  left: -21px;
  right: -21px;
  top: 0;
  bottom: -16px;
  display: block;
  height: 100%;
  background: white;
  z-index: 0;
}
}


.strength-infographic {
  border-bottom: 1px dotted #000000;



  @media screen and (min-width: @col-sm) {
    border-bottom: 1px dotted white;
    width: auto;
  }
  width: 100%;
  overflow: hidden;
  margin-left: -21px;
  margin-top: 19px;
  padding-top: 38px;
@media screen and (min-width: @col-sm) {
  margin-top: 56px;
  padding-top: 0;
}

  display: table;

  @media screen and (max-width: @col-sm) {
    color: #000000;
    position: relative;
  }


  &__icon {


    width: 98px;
    display: table-cell;

    @media screen and (min-width: @col-sm) {
      width: 80px;
    }

    @media screen and (min-width: @col-lg) {
      width: 118px;
    }

    .icon-height-sm {
      font-size: 35px;
      line-height: 0;
      left: -7px;
      top: 2px;
      position: relative;
      @media screen and (max-width: 739px) {
        left: -26px;
      }
    }

    .icon-height-lg-1 {
      font-size: 87px;
      top: 2px;
      line-height: 0;

      left: -16px;
      position: relative;

      @media screen and (max-width: 739px) {
        font-size: 71px;
       left: -14px;

      }

    }
  }


  ul {
    font-size: 14px;
    line-height: 150%;

    vertical-align: bottom;
  }

  &__font {
    font-size: 30px;

    @media screen and (min-width: @col-sm) {
      font-size: 50px;
      line-height: 1em;
      top: -5px;
      position: relative;
      display: table-cell;
      vertical-align: bottom;
      width: 192px;
    }

  }

.b_list-unstyled {
  margin-left: 0;

  @media screen and (min-width: @col-sm) {
    float: right;
    margin-left: 0;
  }
}

}

