.b_delivery {

 /* &__map {
    background: url("../img/delivery-map-bg.png") top left no-repeat;
  }*/
&__map {
  &__ul-xs {
    font-size: 15px;
    line-height: 21px;
    color: white;
    position: absolute;
    left: 16px;
    top: 50%;
    padding: 22px;
    padding-left: 30px;

    li {
      list-style-type: none;
      position: relative;

      &:before {
        content: "—";
        position: absolute;
        left: -26px;
      }
    }

  }
}
  &__h3 {
    position: absolute;
    left: 16px;

    @media screen and (min-width: @col-sm) {
      left: 20px;
    }
  }

  &__slogan {

    &.b-slogan {
      padding-top: 13px;
     @media screen and (max-width: 739px) {
      margin-bottom: 29px;
     }

      @media screen and (min-width: @col-sm) and (max-width: @col-lg) {
        font-size: 13px;
        line-height: 17px;
      }


      &:before {
        width: 0;

        @media screen and (min-width: @col-sm) {
          width: 93px;
        }

        @media screen and (min-width: @col-lg) {
          width: 173px;
        }
      }

    }

    .font--infographic {

      @media screen and (max-width: 739px) {
        float: left;
        margin-right: 30px;
      }

      }




    &__number {
      display: block;
      font-size: 57.2973px;
      line-height: 52px;

      @media screen and (min-width: @col-sm) {
        font-size: 74.5664px;
        line-height: 55px;
      }

      @media screen and (min-width: @col-lg) {
        font-size: 120px;
        line-height: 120px;
      }
    }

    &__days {
      display: block;
      font-size: 31.9362px;
      line-height: 14px;
      margin-bottom: 30px;

      @media screen and (min-width: @col-sm) {
        font-size: 41.5616px;
        line-height: 34px;
      }

      @media screen and (min-width: @col-lg) {
        font-size: 67.2158px;
        line-height:  37px;
      }

    }

  }

}