.filter {

  text-align: left;

  @media screen and (max-width: 1399px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: none;
  }










  &__header {

    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid @gray-light;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }



    &__name {
      color: #000000;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 900;

    }
  }

  &__body {
    &__section {

      @media screen and (max-width: 1399px) {
        border-bottom: 4px solid @gray-light;
      }

@media screen and (min-width: @col-lg) {
  margin-bottom: 4px;
}


      &__name {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 20px;
        display: block;
      }

      label, a {
        cursor: pointer;
        padding-left: 14px;
        padding-right: 14px;
        display: block;
        font-size: 13px;
        font-weight: normal;
        background: @gray-light;
        position: relative;
        text-decoration: none;

        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;

        &.label--outside {
          background: none;
        }

        &:hover {
          background: #CBCBCB;
        }

      }

      a {
        padding-left: 7px!important;
        padding-right: 7px!important;
      }

      input[type="checkbox"] {
        clip: rect(0,0,0,0);
        position: absolute;
      }
      input:checked + label {
        background: @brand-success;
        color: white;
      }

    }
  }

  &__footer {
    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid @gray-light;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }


    .button-all-filters {
width: 250px;
      margin: 0 auto;
    }
  }

  &__item--inline {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__item--pic {
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;

    label {
      width: 83px;
      height: 74px;
      padding-bottom: 0;
      margin-bottom: 0;

      i {
        font-size: 34px;
      }
    }
  }

  &__available {
    width: 60px;
    display: block;
    border: 1px solid @brand-success;
    background: #ffffff;

    & + .label--outside {
      padding-top: 5px;
    }
  }

  &__item--toggle {
    float: left;
    width: 25px;
    height: 25px;
    background: white;
    position: relative;

    label {
      padding: 0;
      background: white;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;


    }
    input:checked+label {

      background: @brand-success;
      width: 35px;
      min-width: 35px;
      z-index: 5;

    }


    
  }


  .label.dropdown {
    width: 245px;
  }


&__button.btn--primary {
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;

  @media screen and (max-width: 739px) {
    padding-left: 16px;
    margin-bottom: 12px;
  }

  i {
    font-size: 0.6em;
    top: -2px;
    position: relative;
  }
}

}

.button--clear {
  text-transform: uppercase;
}

.button-all-filters {
  display: block;
  text-align: center;
}

.button-show-more {
  display: block;
  text-align: center;


}

.f--hidden {
  display: none;
}

.button--close-filter {
  right: 0;
  top: -31px;
  position: absolute;
  font-size: 22px!important;
}