.b_keramo-production {
  &__content {
    background: url("../img/bg-production.jpg") top left no-repeat;
    background-size: cover;
       &.padding-standart {
      padding-bottom: 24px;

      @media screen and (min-width: @col-lg) {
        padding-bottom: 76px;
      }
    }

    &__btn-video {
      margin-top: 30px;
      margin-bottom: 24px;

      @media screen and (min-width: @col-sm) {
        margin-top: 35px;
      }

      @media screen and (min-width: @col-lg) {
        position: absolute;
        bottom: 76px;
        right: 76px;
      }

      i {
        padding-right: 8px;
      }
    }

    .text--intro {
      font-size: 18px;
      line-height: 25px;
    }

.h3 {
  @media screen and (max-width: 739px) {
    margin-top: 6px;
    margin-bottom: 0;
  }

}
  }
}