.b_keramo-advantages {
  overflow: hidden;
  padding-bottom: 26px;

  &__menu {
    a {
      height: 80px;
      background-size: cover;

      @media screen and (min-width: @col-sm) {
        height: 135px;
      }

      @media screen and (min-width: @col-lg) {
        height: 285px;
      }



    }
  }




}

.link--for-street {
  background: url("../img/street.png") top left no-repeat;
}

.link--for-walls {
  background: url("../img/wall.png") top left no-repeat;
}


.link--for-floor {
  background: url("../img/floor.png") top left no-repeat;
  background-size: cover;
}


.link--for-bath {
  background: url("../img/wall-xs.jpg") top left no-repeat;
  background-size: cover;
}

.link--for-kitchen {
  background: url("../img/kitchen.jpg") top left no-repeat;
  background-size: cover;
}

.link--for-terr {
  background: url("../img/terrasa.png") top left no-repeat;
  background-size: cover;
}

.link--for-commerc {
  background: url("../img/commertial.jpg") top left no-repeat;
  background-size: cover;
}

.link--special {
  background: url("../img/special.png") top left no-repeat;
}