.b_card {
  padding-top: 19px;
  margin-bottom: 27px!important;

  @media screen and (min-width: 740px) {
    padding-top: 0;
  }

  @media screen and (min-width: @col-lg) {
    margin-top: 43px;
    margin-bottom: 72px!important;
  }


  h1 {
    @media screen and (max-width: 739px) {
    padding-left: 16px;
    padding-right: 16px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 62px;
      margin-bottom: 22px;
    }
  }
  .h4 {

    @media screen and (min-width: @col-lg) {
      font-size: 28px;
      line-height: 29px;
      margin-top: 4px;
    }
  }
}




  .awards {




    &__row {
      position: relative;
      margin-left: -20px;
      margin-right: -20px;

      @media screen and (max-width: 739px) {
        height: 97px;

      }
    }

    &__col {
      float: left;
      width: 95px;

      @media screen and (min-width: @col-sm) {
        width: 33%;
      }



      @media screen and (min-width: @col-lg) {
        width: 14.2%;
      }

    }
  }

  .l_format-on-pic-outer {
    position: absolute;
    z-index: 2;
    color: white;
    top: 10px;
    left: 10px;
    right: 40px;

    @media screen and (min-width: @col-sm) {
      top: 20px;
      left: 20px;
    }


  }


  .format-on-pic {
    border: 1px solid rgba(255, 255, 255, 0.23);
    float: left;
    padding: 0 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .b_similar {

    @media screen and (max-width: 739px) {
      padding: 16px;
    }
@media screen and (min-width: @col-lg) {
  margin-bottom: 5px!important;
}



    &__item {
      &--inversed {
        .format-on-pic,
        .b-menu--img__header {
          color: #000;
        }

        .format-on-pic {
          border-color: rgba(0, 0, 0, 0.59);
        }

      }
    }

    &__img-header {
      font-size: 16px;
      line-height: 21px;
      bottom: 14px;

      @media screen and (max-width: 739px) {
        left: 10px;
      }


    }

    &__btn {
      @media screen and (min-width: @col-lg) {
        padding-top: 2px!important;
        padding-bottom: 2px!important;
      }

    }
  }

  .b-menu--img__header--smaller {
    font-weight: normal;
    font-size: 13px;
    margin-left: 5px;
  }

  .card {

    &__h2-similar {
      font-size: 59px;
      margin-bottom: 28px;
    }

    &__carousel-outer {
      @media screen and (min-width: @col-sm) and (max-width: 1399px) {
        margin-bottom: 9px;
      }
    }

    &__carousel-indicators {
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0;
      margin-top: 5px;
      width: 100%;
      overflow: hidden;

      @media screen and (min-width: @col-sm) {
        margin-bottom: 4px;
      }

      @media screen and (min-width: @col-lg) {
        margin-bottom: 9px;
      }


      li,
      li.active {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;


        width: 69px;
        height: 47px;

        float: left;
        margin: 0 5px 0 0;
        overflow: hidden;
        box-sizing: border-box;

        @media screen and (min-width: @col-sm) {
          width: 104px;
          height: 71px;
        }

        @media screen and (min-width: @col-lg) {
          width: 120px;
          height: 80px;
        }
      }
      li.active {
        border: 3px solid @brand-success;

        @media screen and (min-width: @col-lg) {
          border-width: 5px;
        }
      }
    }

    &__filter {

      .filter-section__name {
        margin-bottom: 11px;
      }

      .popover {
        label {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
        }
        .section_totally__smaller {
          margin-left: 42px;
          margin-bottom: 23px;
        }

        .btn--red {

          margin-bottom: 10px;
          font-size: 16px;
          line-height: 16px;
        }

      }
    }

    &__about {
      font-size: 15px;
      line-height: 20px;

      @media screen and (max-width: 739px) {
        border-bottom: 4px solid #e5e5e5;
      }

      @media screen and (min-width: @col-lg) {
        padding-bottom: 57px!important;
      }

    }

    &__awards {


      @media screen and (max-width: 739px) {
        border-bottom: 4px solid #e5e5e5;
      }
      @media screen and (min-width: @col-lg) {
        padding-bottom: 33px!important;
      }
    }

    &__h-similar {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 16px;

      @media screen and (min-width: @col-sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }

  }
  .card-filter {
    &__btn-add {
      margin-bottom: 30px;
    }
  }

  .section_totally {

    @media screen and (min-width: @col-sm) {
      border-bottom: 9px solid #e5e5e5;
    }
    @media screen and (min-width: @col-lg) {
      border-bottom: 0;
      margin-bottom: 0;
      padding-top: 10px!important;
    }

    &__table {
      font-size: 16px;

      .row {
        border-bottom: 1px solid #E2E2E2;
        padding: 8px 0px;

        &:last-child {
          border-bottom: 0;
        }
      }

      a {
        padding: 0!important;
      }
    }
    &__smaller {
      font-size: 13px;
      line-height: 13px;
      color: #B3B3B3;
    }

    &__available {
      position: relative;

      &:before {
        content: "";
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #0EA01D;
        display: block;
        margin-left: -15px;
        margin-right: 5px;
        float: left;
        top: 5px;
        position: relative;
      }
    }
  }

  .section_texture-download {
    position: relative;

    &__texture {

      @media screen and (min-width: @col-lg) {
        position: absolute;
        top:50%;
        height: 157px;
        margin-top: -77px;
        overflow: hidden;
        left: 0;
        right: 0;
      }
    }


  }

  .texture-download-texture {
    &__text {
      position: absolute!important;
      z-index: 2;
      bottom: 0;
      right: 0;
      color: @brand-primary;
      background: #ffffff!important;
      width: 186px;
      font-size: 16px!important;
      line-height: 30px;
      padding-left: 15px!important;

      .icon-download {
        position: absolute;
        right: 10px;
        margin-top: -30px;
        font-size: 20px;
      }
    }
  }

  .section_price {


    padding-bottom: 30px!important;


    &__metr-price {
      font-size: 16px;
    }
    .section_price__final-count {
      font-size: 80px;
      line-height: 80px;
      font-weight: 500;
      /* min-width: 148px;*/
      /*max-width: 208px;*/
      border-bottom: 0;
      float: left;
      /*user-select: none;
      pointer-events: none;*/
      /* min-width: 164px;*/
    }

    &__total {
      clear: both;
      font-size: 12px;
      font-weight: bold;
      padding-top: 9px;
      margin-bottom: 18px;
    }


  }

  .main-price {

    &__tabs {

      margin-top: 6px;
      margin-bottom: 18px;

      @media screen and (max-width: 739px) {
        /*position: absolute;
        right: 5px;*/
        position: relative;

      }


      li {
        float: none;

        a, a:hover {
          background: #ffffff!important;
          border: 0;
          position: relative;
          display: inline-block;
        }
        a:after {
          content: "";
          display: block;
          border-bottom: 1px dashed;
          width: 100%;
          height: 1px;
        }

        &.active {
          a,a:link, a:hover, a:active, a:visited {
            background: #ffffff!important;
            color: #000;


          }
          a:after {
            border-bottom: 0;
          }
        }
      }



      li, a {
        margin: 0!important;
        padding: 0!important;
        display: block;
        font-size: 33px;
        line-height: 29px!important;
      }
      sup {
        font-size: 16px;
        top: -12px;
      }
    }

    &__counts {
      position: relative;
      top: 4px;
      height: 62px;
      width: 30px;
    }

    &__tab-content {

      @media screen and (max-width: 739px) {
      /*position: absolute;

      left: 45px;
      right: 60px;*/
        position: relative;
        left: 0;
        right: 0;
    }
    }

  }

  a.counts__down,
  a.counts__up {
    color: @brand-success;
    display: block;
    position: absolute;
    left: 0!important;
    padding-left: 0!important;

    span {
      left: 0!important;
      padding-left: 0!important;
      margin-left: 0!important;

      &:before {
        left: 0!important;
        padding-left: 0!important;
        margin-left: 0!important;
      }
    }
  }

  .counts__up {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .counts__down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }



  .section-color {



    &__carousel-indicators {
      position: relative;
      left: 0;
      margin-left: -2px;
      margin-right: -2px;
      padding-left: 0;
      width: auto;
      text-align: left;
      top: 0;
      margin-bottom: 4px;
      overflow: hidden;


      li,
      li.active {
        width: 25%;
        margin: 0!important;
        padding: 0 2px!important;
        border-radius: 0;
        left: 0;
        right: 0;
        float: left;
        box-sizing: border-box;
        border: 0;
        height: auto;
        overflow: hidden;
        position: relative;

        @media screen and (min-width: @col-lg) {
          height: 50px;
        }

        img {
          margin-right: 0;
          margin-left: 0;
          padding: 0;

        }
      }

      li.active {

        &:after {
          content: "";
          position: absolute;
          left: 2px;
          right: 2px;
          top: 0px;
          bottom: 0px;
          display: block;
          border: 3px solid #00894D;

          @media screen and (min-width: @col-lg) {
            bottom: 2px;
          }

        }
      }
    }

    &__carousel {
      .download {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        color: @brand-success;
        font-size: 21px;

        @media screen and (max-width: 739px) {
          text-align: center;
        }

    /*    &__text {
          color: white;
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 11px;
        }*/
        &__text {

          color: white;
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 11px;


          @media screen and (min-width: @col-sm) {

            position: absolute !important;
            z-index: 2;
            bottom: 0;
            margin-bottom: 0;
            right: 0;
            font-weight: normal;
            color: @brand-primary;
            background: #ffffff !important;
            width: 186px;
            font-size: 16px !important;
            line-height: 30px;
            padding-left: 15px !important;

            display: none;

          }
        }

        @media screen and (min-width: @col-sm) {
          right: 0;
          left: auto;
          background: white;
        }

        .icon-download {
          position: relative;
        }

        &:hover {
          background: none;

          .download__text {

            @media screen and (max-width: 739px) {
              color: @brand-primary;
            }


            @media screen and (min-width: @col-sm) {
              display: block;
            }
          }

        .icon-download {
          color: @brand-primary;
          margin-bottom: 0;
          position: relative;
          z-index: 5;
        }
      }
      }
    }
  }

  .section-color-carousel {

    @media screen and (min-width: @col-lg) {
      padding-bottom: 5px;
    }

    &__inner .item {
      @media screen and (min-width: @col-lg) {
        height: 143px;
      }

    }

  }



  .filter {
    &__section--card-color {
      border-bottom: 0;
      padding-bottom: 0px!important;

      @media screen and (min-width: @col-lg) {
        margin-bottom: 0;
        padding-bottom: 5px!important;
      }
    }

    &__section--card-format {

      border-bottom: 0;
      padding-bottom: 0px!important;

      @media screen and (min-width: @col-lg) {
        margin-bottom: 0;
      }

      label {
        padding-left: 6px;
        padding-right: 6px;
      }

      .filter__item--inline {
        margin-right: 8px;
      }

    }

    &__section--card-surface {

      /* label {
         padding-left: 6px;
         padding-right: 6px;
       }*/

    }
  }

  .card-sidebar {
    &__form {

      height: 100%;
      background: white;

      @media screen and (min-width: @col-lg) {
        .filter__section--card-surface,
        .section_price {
        border-bottom: 4px solid #e5e5e5;
        margin-bottom: 0;
      }
      }
    }
  }

.section_add-to-project {
  p {
    font-size: 16px;
  }
}


.add-to-project {
  &__header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }



}


.projects {



  &__add-block {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid @gray-light;
    overflow: hidden;

    top: 5px;
    left: -3px;
    width: 100%;
    position: absolute;

    input[type="text"] {
      border-bottom: 0;
      font-size: 16px;

      @media screen and (min-width: @col-sm) {
        width: 250px;
      }

    }

  }

  &__add-confirm-btn {
    position: relative;
    top: -2px;
    color: #000!important;
    border: 3px solid @brand-primary!important;
    width: 53px;
    height: 35px;

    &:hover {
      border: 3px solid @light-red!important;
      color: white!important;
    }
  }


  &__add-btn {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    position: relative;
    margin-top: 15px;
    display: block;
    left: 35px;

    .icon-close {
      color:  #D0D0D0;
      display: block;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: -35px;
      font-weight: normal;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &:active {
      .icon-close {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
}

.projects-add {
  position: relative;
  border-top: 1px solid @gray-light;
  height: 80px;
}


.projects-add-block {
  &__close {
    color:  #D0D0D0;
    display: block;
    font-size: 16px;
    left: -4px;
    position: relative;
    float: left;
    margin-right: 13px;
  }
}


.main-price__tab-inner {
  /* width: 80px;*/

  white-space: nowrap;
  height: 82px;

  font-size: 80px;
  font-family: sans-serif;
  line-height: 82px;
}
.main-price__tab-outer {

  height: 82px;
  margin-right: 10px;

  @media screen and (min-width: @col-sm) {
    width: 190px;
  }
}