.b_similar {

  &__about-size {

    height: 264px;
  }
  
}

.similar-about-size {
  &__content {
    background: white;
    height: 264px;
    padding: 15px 20PX;
  }

  &__pics {

    overflow: hidden;
    height: 87px;

    div {
    background: @gray-light;
    float: left;
    }
  }

  &__112x60 {
    width: 112px;
    height: 60px;
    margin-right: 12px;
  }

  &__76x75 {
    width: 76px;
    height: 75px;
  }

  &__82x40 {
    width: 82px;
    height: 40px;

  }

  &__title {
    border-top: 4px solid red;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
  }

}

.tab-content {
  li {
    img {
      width: 100%!important;
    }
  }
}


