@font-face {
  font-family: 'tileland';
  src: url('../fonts/tileland.eot?48905382');
  src: url('../fonts/tileland.eot?48905382#iefix') format('embedded-opentype'),
  url('../fonts/tileland.woff2?48905382') format('woff2'),
  url('../fonts/tileland.woff?48905382') format('woff'),
  url('../fonts/tileland.ttf?48905382') format('truetype'),
  url('../fonts/tileland.svg?48905382#tileland') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tileland';
    src: url('../fonts/tileland.svg?48905382#tileland') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tileland";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cart:before { content: '\e800'; } /* '' */
.icon-fb:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-insta:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e804'; } /* '' */
.icon-arrow-left-light:before { content: '\e805'; } /* '' */
.icon-vk:before { content: '\e808'; } /* '' */
.icon-icon-strength--b:before { content: '\e80b'; } /* '' */
.icon-youtube:before { content: '\e80c'; } /* '' */
.icon-rezka:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-check-invert:before { content: '\e80f'; } /* '' */
.icon-order:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-close:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-drop:before { content: '\e817'; } /* '' */
.icon-hammer:before { content: '\e818'; } /* '' */
.icon-material-wood:before { content: '\e819'; } /* '' */
.icon-material-design:before { content: '\e81a'; } /* '' */
.icon-material-beton:before { content: '\e81b'; } /* '' */
.icon-material-metall:before { content: '\e81c'; } /* '' */
.icon-material-mramor:before { content: '\e81d'; } /* '' */
.icon-finished:before { content: '\e81e'; } /* '' */
.icon-map:before { content: '\e81f'; } /* '' */
.icon-profile:before { content: '\e820'; } /* '' */
.icon-material-stone:before { content: '\e821'; } /* '' */
.icon-check:before { content: '\e823'; } /* '' */
.icon-height-lg-1:before { content: '\e824'; } /* '' */
.icon-pdf:before { content: '\e825'; } /* '' */
.icon-height-sm:before { content: '\e826'; } /* '' */
.icon-height-md:before { content: '\e827'; } /* '' */
.icon-icon-strength:before { content: '\e828'; } /* '' */
.icon-play:before { content: '\e829'; } /* '' */