.b-footer {

  &__content {
    background: url("../img/footer.png") top left no-repeat;
    background-size:  auto 100%;
    color: #ffffff;
    font-size: 16px;

    padding-top: 30px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 140px;

    @media screen and (min-width: @col-lg) {
      padding-top: 60px;
    }

    }


  &__col {

    @media screen and (min-width: @col-lg) {
    float: left;
    width: 20%;
  }
  }

  &__year {
    font-size: 12px;
    line-height: 14px;
  }

  &__menu {

    margin-bottom: 46px;
    margin-top: 30px;

    @media screen and (min-width: @col-sm) {
      margin-bottom: 29px;
      margin-top: 0;
    }


  }
  i.demo-icon.icon-youtube {
    margin-left: -8px;
    margin-right: 2px;
  }

  &__links-block {

    margin-top: 30px;

    @media screen and (min-width: @col-sm) and (max-width: 1399px) {
      padding-left: 40px;
      margin-top: 0;
    }
  }

  &__copyright {
    @media screen and (min-width: @col-sm) {
      padding-left: 30px;
    }

    @media screen and (min-width: @col-lg) {
      padding-left: 84px;
    }
  }

  &__soc {

    margin-top: 18px;
    font-size: 14px;

    @media screen and (max-width: 739px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: @col-sm) {
      margin-top: 9px;
    }
    @media screen and (min-width: @col-lg) {
      text-align: center;
      margin-top: 0;
    }

    i {
      margin-right: 5px;
    }



    .icon-vk {
      @media screen and (max-width: 739px) {
        font-size: 27px;
        margin-left: -9px;
        margin-right: 25px;
      }
    }

      .icon-fb {
        @media screen and (max-width: 739px) {
          font-size: 38px;
          margin-right: 14px;
        }
        @media screen and (min-width: 740px) and (max-width: 1399px) {
          font-size: 22px;
          top: 2px;
          position: relative;
        }
      }

     .icon-youtube {
       @media screen and (max-width: 739px) {
         font-size: 35px;
         margin-right: 24px!important;
       }
       @media screen and (min-width: 740px) and (max-width: 1399px) {
         font-size: 18px;
       }
     }
    i.demo-icon.icon-insta {
      font-size: 1.2em;
      margin-left: 3px;
    }

      i.demo-icon.icon-insta {
        @media screen and (max-width: 739px) {
          font-size: 40px;
        }
        @media screen and (min-width: 740px) and (max-width: 1399px) {
          font-size: 20px;
          margin-left: 6px;
        }
      }

    }
  }

