.row.table-row--lg > [class*="col-"].custom {
  text-align: center;
}


@media (min-width: @col-lg) {



  .row.table-row--lg{display:table;width:100%;margin:0 auto;}

  .row.table-row--lg> [class*="col-"] {
    float:none;
    display:table-cell;
    vertical-align:top;
  }

  .row.table-row--lg> .col-lg-11 {
    width: 91.66666666666666%;
  }
  .row.table-row--lg> .col-lg-10 {
    width: 83.33333333333334%;
  }
  .row.table-row--lg> .col-lg-9 {
    width: 75%;
  }
  .row.table-row--lg> .col-lg-8 {
    width: 66.66666666666666%;
  }
  .row.table-row--lg> .col-lg-7 {
    width: 58.333333333333336%;
  }
  .row.table-row--lg> .col-lg-6 {
    width: 50%;
  }
  .row.table-row--lg> .col-lg-5 {
    width: 41.66666666666667%;
  }
  .row.table-row--lg> .col-lg-4 {
    width: 33.33333333333333%;
  }
  .row.table-row--lg> .col-lg-3 {
    width: 25%;
  }
  .row.table-row--lg> .col-lg-2 {
    width: 16.666666666666664%;
  }
  .row.table-row--lg> .col-lg-1 {
    width: 8.333333333333332%;
  }

}
/*
@media (min-width: 992px) {
  .row.table-row--lg> .col-md-11 {
    width: 91.66666666666666%;
  }
  .row.table-row--lg> .col-md-10 {
    width: 83.33333333333334%;
  }
  .row.table-row--lg> .col-md-9 {
    width: 75%;
  }
  .row.table-row--lg> .col-md-8 {
    width: 66.66666666666666%;
  }
  .row.table-row--lg> .col-md-7 {
    width: 58.333333333333336%;
  }
  .row.table-row--lg> .col-md-6 {
    width: 50%;
  }
  .row.table-row--lg> .col-md-5 {
    width: 41.66666666666667%;
  }
  .row.table-row--lg> .col-md-4 {
    width: 33.33333333333333%;
  }
  .row.table-row--lg> .col-md-3 {
    width: 25%;
  }
  .row.table-row--lg> .col-md-2 {
    width: 16.666666666666664%;
  }
  .row.table-row--lg> .col-md-1 {
    width: 8.333333333333332%;
  }

}


@media (min-width: @col-lg) {
  .row.table-row--lg> .col-lg-11 {
    width: 91.66666666666666%;
  }
  .row.table-row--lg> .col-lg-10 {
    width: 83.33333333333334%;
  }
  .row.table-row--lg> .col-lg-9 {
    width: 75%;
  }
  .row.table-row--lg> .col-lg-8 {
    width: 66.66666666666666%;
  }
  .row.table-row--lg> .col-lg-7 {
    width: 58.333333333333336%;
  }
  .row.table-row--lg> .col-lg-6 {
    width: 50%;
  }
  .row.table-row--lg> .col-lg-5 {
    width: 41.66666666666667%;
  }
  .row.table-row--lg> .col-lg-4 {
    width: 33.33333333333333%;
  }
  .row.table-row--lg> .col-lg-3 {
    width: 25%;
  }
  .row.table-row--lg> .col-lg-2 {
    width: 16.666666666666664%;
  }
  .row.table-row--lg> .col-lg-1 {
    width: 8.333333333333332%;
  }

}
*/