.project-item {
  &__col-pic {
    float: left;
    margin-right: 18px;
    position: relative;
    left: -3px;
  }

  &__col-info-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }

  &__col-info {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 166px;
  }

  &__col-info-text {
    font-size: 16px;
    display: block;
  }

  &__col-info-sm-text {
    font-size: 16px;
    display: block;
  }

  &__col-quantity {
    @media screen and (min-width: @col-lg) {
      margin-left: 61px;
      width: 200px;
      overflow: hidden;
      float: left;
    }
  }

    &__col-sum {
      float: left;
      text-align: right!important;
      width: 142px;
    }


  &__col-price {
    float: left;
    width: 150px;
  }

  &__col-close {
    position: absolute;
    right: 35px;
    top: 8px;
  }

  &__comment {
    min-width: 30px;
    /*font-size: 18px;*/
    max-width: 300px;
  }


}

  .b_project-inner {
    @media screen and (min-width: @col-lg) {
      margin-top: 74px;
    }
  }

  h1.project-inner-description__title {
    @media screen and (min-width: @col-lg) {
      font-size: 75px;
      margin-top: 6px;
      margin-bottom: 3px;
    }

  }

  .project-inner-description {
    &__title-red {
      color: #959595;
      font-size: 0.6em;
    }

    &__text {
      font-size: 20px;
    }

    &__date-of-making {
      padding-right: 4px;
    }

    .pay-status--waiting {
      padding-left: 4px;
    }
  }

  .order-samples {
    position: relative;
    margin-top: 17px;
    margin-right: 190px;

    &:before {
      font-family: "tileland";
      content: '\e811';
      font-size: 44px;
      float: left;
      margin-right: 24px;
      margin-left: 22px;
      position: relative;
      top: 11px;

    }

    &__title {
      font-weight: bold;
      font-size: 24px;
    }

    &__text {
      font-size: 18px;
    }

    &__btn-link.btn--outlined.btn--primary {
      font-size: 18px;
      color: #333;
      margin-top: 34px;
      height: 56px;
      line-height: 55px;
      border-width: 3px;
      border-color: @brand-primary;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .project-inner {

    &__table-title {
      margin-top: 46px;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__table-row {
      background: white;
      position: relative;
      margin-bottom: 20px;
    }

    &__totally {
      & > div {
        float: left;
      }
    }

    &__totally-text {
      font-size: 18px;
      display: block;
    }

    &__totally-number {
      font-size: 30px;
      font-weight: bold;
      display: block;
    }

    &__totally-discount {
      width: 160px;
    }

    &__totally-comission {
      width: 200px;
    }

    &__totally-btn {
      float: right!important;
    }

    &__totally-sum {
      float: right!important;
      margin-right: 60px;
    }

    &__totally {
      overflow: hidden;
      border-bottom: 2px solid rgba(0, 0, 0, 0.14);
      padding-bottom: 30px;
    }

    &__send-title {
      font-size: 24px;
      display: block;
      font-weight: bold;
    }

    &__send-text {
      font-size: 18px;
    }

    &__send-form {
      margin-left: 50px;
    }
  }


.project-inner-col-quantity__main-price {
  .main-price__tab-inner {
    font-size: 41px;
    top: -3px;
    position: relative;
  }
  .main-price__tabs li,
  .main-price__tabs a {
    font-size: 17px;
    line-height: 15px!important;
  }
  .main-price__tab-outer {
    width: 85px;
    height: 50px;
  }

  .main-price__tabs sup {
    font-size: 9px;
    top: -6px;
  }

  a.counts__down, a.counts__up {
    font-size: 11px!important;
  }

  a.counts__up {
    top: 15px;
  }
  a.counts__down {
    bottom: 11px;
  }

  .main-price__tabs {
    margin-top: 20px;
  }


}


.project-inner__table-body-col.project-item__col-price {
  font-size: 20px;
  padding-top: 18px;
}

.project-inner__table-body-col.project-item__col-sum {
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
}

