@import "variables.less";
@import "header.less";
@import "index/b_filter.less";
@import "grid-h100.less";
@import "grid-h100-lg.less";
@import "menu.less";
@import "footer.less";
@import "font-icons1.less";
@import "index/b_company.less";
@import "index/b_collections.less";
@import "index/b_work.less";
@import "index/b_delivery.less";
@import "index/b-strength.less";
@import "index/b_keramo-advantages.less";
@import "index/b_keramo-production.less";
@import "index/b_material.less";
@import "index/b_capacity1.less";
@import "index/b_keramo-width.less";
@import "animations.less";
@import "form-styler.less";
@import "video-load.less";
@import "modal.less";
@import "buttons.less";
@import "carousel.less";
@import "card.less";
@import "carousel-fotoramia.less";
@import "filter-right-content.less";
@import "offcanvas.less";
@import "project-item.less";




/*fonts*/

@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Regular-Web.eot");
  src: url("../fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Graphik-Regular-Web.woff2") format("woff2"),
  url("../fonts/Graphik-Regular-Web.woff") format("woff"),
  url("../fonts/Graphik-Regular-Web.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-RegularItalic-Web.eot");
  src: url("../fonts/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Graphik-RegularItalic-Web.woff2") format("woff2"),
  url("../fonts/Graphik-RegularItalic-Web.woff") format("woff"),
  url("../fonts/Graphik-RegularItalic-Web.ttf") format("truetype");
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Medium-Web.eot");
  src: url("../fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Graphik-Medium-Web.woff2") format("woff2"),
  url("../fonts/Graphik-Medium-Web.woff") format("woff"),
  url("../fonts/Graphik-Medium-Web.ttf") format("truetype");
}


@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Bold-Web.eot");
  src: url("../fonts/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Graphik-Bold-Web.woff2") format("woff2"),
  url("../fonts/Graphik-Bold-Web.woff") format("woff"),
  url("../fonts/Graphik-Bold-Web.ttf") format("truetype");
}


@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Black-Web.eot");
  src: url("../fonts/Graphik-Black-Web.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Graphik-Black-Web.woff2") format("woff2"),
  url("../fonts/Graphik-Black-Web.woff") format("woff"),
  url("../fonts/Graphik-Black-Web.ttf") format("truetype"),
  url("../fonts/Graphik-Black-Web.svg#Graphik-Black-Web") format("svg");
}

body {
  font-family: 'Graphik';
  background: url("../img/bg-main.jpg");
}

.white-bg {
  background: #ffffff;
}

.b-section--header {
  background: white;
  height: 52px;
  margin-bottom: 5px;

  @media screen and (min-width: @col-sm) {
    margin-bottom: 22px;
  }

  @media screen and (min-width: @col-lg) {
    height: 80px;
    margin-bottom: 58px;
  }

  &__content {
    max-width: 1420px;
    margin: 0 auto;
  }
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 900;
  text-align: left;
}
.h5 {
  color: @brand-primary;
}

.h3 {

  font-size: 22px;
  line-height: 27px;

@media screen and (min-width: @col-sm) {
  margin-top: 8px;
}

@media screen and (min-width: @col-lg) {
  font-size: 38px;
  line-height: 114%;
  margin-bottom: 20px;
}
}

.h4 {
  font-size: 18px;
  line-height: 23px;


  margin-top: 7px;

  @media screen and (min-width: @col-lg) {
    font-size: 24px;
    line-height: 29px;
    margin-top: 35px;
  }
}

.margin-bottom {

    margin-bottom: 4px;


  &--sm {
    @media screen and (min-width: @col-sm) {
      margin-bottom: 4px;
    }
  }

  &--lg {
    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }
  }
}



.text--intro + .h4 {
  margin-top: 31px;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.link--red {
  color: @brand-primary;

  &:hover,
  &:active {
    color: #F55D64;
  }
}

.link--black {
  color: #000000;

  &:hover,
  &:active {
    color: @brand-primary;
  }
}

.text--red {
  color: @brand-primary;
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

.w100 {
  width: 100%;
}

.clear {
  clear: both;
}

.padding-standart {
  padding: @padding-standart-mob;

  @media screen and (min-width: @col-sm) {
    padding: @padding-standart;
  }

}

.separation-lg {
  @media screen and (min-width: @col-lg) {
    border-right: 4px solid @gray-light;
  }

  &--left {
    @media screen and (min-width: @col-lg) {
      border-left: 4px solid @gray-light;
    }
  }

}

input[type="text"],
input[type="password"] {
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  background: transparent;

  &:focus {
    outline: 0;
    border-color: @brand-primary;
  }
}

.input--md {
  font-size: 20px;
  width: 100%;
}

.btn--primary() {
  background: none;
  border: 0;
  color: @brand-primary;
  font-weight: 900;
  font-size: 13px;
  /*line-height: 14px;*/
  /*letter-spacing: 0.1em;*/
  outline: none;
  height: 28px;
  line-height: 26px;
  padding-left: 0;
  padding-right: 0;
  display: block;



  &:link,
  &:hover,
  &:active {
    text-decoration: none;
    color: @brand-primary;

  }
  &:hover {

    color: @light-red;
  }
}
.btn--primary {
  .btn--primary();
}

.btn--red {
  .btn--outlined();
  background: @brand-primary;
  color: white;
  border-color: @brand-primary;

  &:focus,
  &:link {
    color: white!important;
  }
}

.btn--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.btn--bigger {
  font-size: 16px;
}

.btn--w250 {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.btn--w275 {
  width: 275px;
  display: block;
}

.btn--secondary {
  background: none;
  border: 0;
  color: #000000;
  outline: none;
}

.btn--smaller {

  height: 35px!important;
  line-height: 33px!important;
  padding-left: 15px;
  padding-right: 15px;
}

.btn--outlined {
  &:hover {
    background: @light-red;
    border-color: @light-red;
    color: white;
  }
}

.btn--w100 {
  font-size: 15px;
  line-height: 48px;
  height: 48px;


  display: block;
  text-align: center;

  width: 100%;
  font-weight: bold;

  @media screen and (min-width: @col-sm) {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }

  &:hover {
    background: #F55D64;
  }
}

.pay-status {
  &--waiting {
  color: #E15E00;
}
}

.text--lighter {
  color: #9B9B9B;
}

.input-large {
  padding-left: 0;
  padding-right: 0;
}

.textarea-comment() {
  font-size: 16px;
  line-height: 27px;
  position: relative;
  border: 0;
  min-height: 30px;
  height: 30px;
}


.livecomment {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    width: 30px;
    height: 30px;
    z-index: 0;
  }

  &__textarea {
    font-size: 16px;
    line-height: 27px;
    position: relative;
    border: 0;
    min-height: 30px;
    resize: none;
    margin-left: 11px;
    z-index: 1;

    &:focus {
      outline: none;
    }

  }

  &--light {
    &:before {
      background: url("../img/icon-corner-light.png") top left no-repeat;
    }

    .livecomment__textarea {
      background: #ebebeb;
    }
  }

  &--dark {
    &:before {
      background: url("../img/icon-corner-dark.png") top left no-repeat;
    }

    .livecomment__textarea {
      background: #000000;
      color: white;
    }
  }

  &__clear {
    position: absolute;
    top: 0;

  }
}


.discount-infographic {
  border-bottom: 3px solid #D1D1D1;
  position: relative;
  margin-left: 90px;
  margin-top: 18px;
  display: block;

  &__handle {
    background: white;
    border: 4px solid #ef1d26;
    position: absolute;
    left: 0;
    top: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
  }
}

.b-text {
  margin-left: -3px;
  margin-right: -2px;
  background: #ffffff;
  text-align: left;
  padding: @padding-standart-mob;
 /* padding-right: 50px;*/

  @media screen and (min-width: @col-sm) {
    padding: @padding-standart;
    margin-left: 0;
    margin-right: 0;
  }



  &--in-col {

  @media screen and (min-width: @col-sm) {
    position: absolute;
    padding: 20px;
    height: 100%;
    left: 3px;
    right: 2px;
  }
  }
&--indent-right {
  @media screen and (min-width: @col-sm) {
    padding-right: 60px;
  }

 @media screen and (min-width: @col-lg) {
   padding-right: 50px;
 }

}

}

.img--video-link {
  display: block;
  position: relative;
  background: url("../img/work-video.jpg") center right no-repeat;
  background-size: 100% auto;

  @media screen and (min-width: @col-sm) {
    background-size: auto 100%;
  }

/*  height: 187px;*/

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -22px;
    margin-left: -18px;
    right: 50%;
    width: 36px;
    height: 44px;
    background: url(../img/play.svg) center center;
    background-size: cover;
    z-index: 2;
    opacity: 0.5;

    @media screen and (min-width: @col-sm) {
      width: 53px;
      height: 60px;
      margin-top: -26px;
      margin-left: -30px;
    }

    @media screen and (min-width: @col-lg) {
      width: 90px;
      height: 104px;
      margin-left: -45px;
      margin-top: -52px;
    }

  }

  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
  }

  &:hover {
    /*opacity: 0.8;*/
    &:after {
      opacity: 0;
    }
  }

  @media screen and (min-width: @col-sm) {
/*    height: 441px;*/
  }


  @media screen and (min-width: @col-lg) {
  /*  height: 526px;*/
  }
}

.no-margin-in-block {
  margin-left: -(@padding-standart-mob+3px);
  margin-right: -(@padding-standart-mob+3px);

  @media screen and (min-width: @col-sm) {
   margin-left: -(@padding-standart+3px);
    margin-right: -(@padding-standart+3px);
  }
}

.text--invert {
  color: #ffffff;
}

section.b_section--inverted {
  background: white;
  border-bottom: 5px solid @gray-light;
  padding: 16px;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.btn--sandwich {
  display: block;
  width: 48px;
  height: 48px;


  &__line {
    height: 2px;
    width: 22px;
    background: @brand-primary;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    transform-origin: top left;

    &.line1 {
      margin-top: -8px;
    }
    &.line2 {
      margin-top: 0;
    }
    &.line3 {
      margin-top: 8px;
    }
  }

  &.active {

      .line1 {
        transform: rotate(45deg);
        transform-origin: center left;
      }
      .line3 {
        transform: rotate(-45deg);
      }
      .line2 {
        width: 0;
      }

  }
}

.scroll-on-mob {
  &__outer {
    overflow: hidden;

    @media screen and (max-width: 739px) {
      overflow: scroll hidden;
    }
  }
  &__line {
    @media screen and (max-width: 739px) {
      /*width: 10000px;*/
      overflow: hidden;
    }
  }
}

.visible-only-sm {
  display: none;
  @media screen and (min-width: @col-sm) and (max-width: 1399px) {
    display: block;
  }
}

.l_pos-abs-bottom {
  position: absolute;
  bottom: 0;
}



  .nav-black {

    li {
      a {
        color: #000000;
        background: none;

        &:link,
        &:visited {
          color: #000000;
          background: none;

        }

        &:hover, &:active {
          background: none!important;
          color: @brand-primary;
        }
        &:visited {
          color: #000000;
        }
      }
    }


  }

  .link--black {
    color: #000000;
    background: none;

    &:link,
    &:visited {
      color: #000000;
      background: none;
      text-decoration: none;

    }

    &:hover,
    &:active {
      background: none!important;
      color: @brand-primary;
      text-decoration: none;
    }


  }


.link--download-pdf {
  display: block;
  font-size: 26px;
}

.download {
  &__icon {
    float: left;
    margin-right: 8px;
  }
  &__text {
    font-size: 18px;
    font-weight: bold;
    display: block;
  }
  &__weight {
    color: #7C7C7C;
    font-size: 13px;
    display: block;
  }
}


  .margin-default {
    padding: 20px;
  }

  .font--infographic {
    font-weight: 800;
    position: relative;
  }

  /*multi dropdown*/
  ul.multiselect-container.dropdown-menu {
    width: 100%;
    border-radius: 0;

    a, label {
      background: white!important;
      color: #000;
    }

    label.checkbox:before {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      margin-top: -2px;
      float: left;
      margin-right: 20px;
      border: 2px solid #D0D0D0;
    }
    li.active {
      label.checkbox:before {
        /*   content: "\e823";
           font-family: "tileland";
           font-size: 16px;*/
      }
      label.checkbox:after {
        content: "\e823";
        display: block;
        position: absolute;
        color: @brand-success;
        font-family: "tileland";
        font-style: normal;
        font-weight: normal;
        speak: none;
        top: -5px;
        left: 20px;
        font-size: 16px;


      }
    }

  }

  /*multi dropdown finished*/


  /*checkbox-with-check*/
  .checkbox-default {
    background: white!important;
    color: #000;
    position: relative;

    label {
      background: transparent;
      color: #000;
      padding-left: 0;

      &:hover {
        background: transparent;
        color: #333;
      }

      &:before {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        margin-top: 0;
        float: left;
        margin-right: 21px;
        border: 2px solid #D0D0D0;
      }
    }



    input:checked + label {
      background: transparent;
      color: #333;
      &:after {
        content: "\e823";
        display: block;
        position: absolute;
        color: @brand-success;
        font-family: "tileland";
        font-style: normal;
        font-weight: normal;
        speak: none;
        top: -4px;
        left: 7px;
        font-size: 16px;


      }


    }
  }



  /*checkbox-with-check-fin*/

  .popover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff;


    .popover-content {
      padding: 25px;
    }

    .h4 {
      font-size: 24px;
    }
    &__header {

      margin-bottom: 32px;
    }



    .arrow {
      display: none;
    }

    &.popover--black-on-hover {
      background: #000;
      color: white;
      border: 0;
      max-width: 250px;
      margin-left: 80px!important;

     .popover-content {
       padding: 5px 14px;
       display: inline-block;
       width: auto!important;
       white-space: nowrap;
      }

    }
  }

  .sidebar .popover {
    max-width: 406px;




    .popover-content {
      width: 406px;
    }

    @media screen and (min-width: @col-sm) {
      margin-left: 300px;
    }
  }

  .popover--example-to-card {
    position: fixed;
    z-index: 1000;
    bottom: 50px;
    background: #000000;
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 16px;
  }

  .popover--black {
    &__project-name {
      color: @light-blue;
    }
    &__close {
      color: white;
      opacity: 0.48;
      font-size: 14px;
      margin-left: 15px;

      &:hover {
        opacity: 0.3;
      }

    }
  }

  .b-slogan {

    font: 15px/21px "Graphik", serif;
    text-align: left;
    position: relative;
    margin-bottom: 38px;




    @media screen and (min-width: @col-sm) {
      font: 18px/25px "Graphik", serif;
      /*    margin-bottom: 77px;*/
      position: absolute;
      margin-bottom: 57px;
      bottom: 28px;
      margin-bottom: 0;
      max-width: 280px;
    }

    @media screen and (min-width: @col-lg) {
      bottom: 33px;
      line-height: 25px;
      max-width: 370px;
    }


    &:before {
      content: "";
      background: @brand-primary;
      height: 4px;
      width: 153px;

      display: block;
      position: absolute;
      bottom: -26px;


      @media screen and (min-width: @col-sm) {
        position: relative;
        margin-bottom: 20px;
        bottom: 0;
      }
      @media screen and (min-width: @col-lg) {
        width: 291px;
      }
    }
  }

  h1 {
    font-size: 34px;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 15px;

    @media screen and (min-width: @col-lg) {
      font-size: 54px;
      margin-top: 13px;
    }


  }

  h2 {

    font-size: 24px;
    line-height: 25px;

    margin-bottom: 13px;

    @media screen and (min-width: @col-sm) {
      font-size: 22px;
      line-height: 27px;
      margin-top: 9px;
      margin-bottom: 29px;

    }
    @media screen and (min-width: @col-lg) {
      font-size: 40px;
      line-height: 44px;
      margin-top: 18px;
    }

  }




  .col--lg20 {
    @media screen and (min-width: @col-lg) {
      width: 20%!important;
    }
  }

  .col--lg60 {
    @media screen and (min-width: @col-lg) {
      width: 60%!important;
    }
  }
  .position-relative {
    position: relative;
  }

  .b_section {
    margin-bottom: 15px;

    background: #ffffff;

    @media screen and (min-width: @col-sm) {
      margin-bottom: 30px;
      background: transparent;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 40px;
    }

  }




  .btn--outlined() {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    background: none;
    text-shadow: none;
    font-weight: 600;
    border: 2px solid;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;

    &:hover,
    &:active,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
  .btn--outlined {
    .btn--outlined();
  }
  .btn--outlined-red {
    .btn--outlined();
    color: #000;
    border-color: @brand-primary;
  }
  /*
  .label.dropdown {
    border-bottom: 1px solid @brand-success;
    border-radius: 0;
    color: grey;
    font-size: 13px;
    line-height: 14px;
    font-weight: 100;
  }
  */

  .text--intro {
    font-size: 15px;
    line-height: 21px;

    @media screen and (min-width: @col-sm) {
      line-height: 19px;
    }

    @media screen and (min-width: @col-lg) {
      font-size: 18px;
      line-height: 25px;
    }
  }


.catalogue-label {

  &--new {
    position: absolute;
    top: -3px;
    right: -4px;
    width: 68px;
    height: 68px;
    background: url("../img/icon-new.png") top right no-repeat;
    opacity: 1;
    z-index: 100;
  }
  
}


/*index*/






















