/*
a:link,
a:visited,
input,
input:focus,

button:hover,
.search__body,
.search__body.active,
.panel--from-right,
.btn--sandwich__line,
a img,
a:hover img,
label,
label:hover
{
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
*/
a,
input,
button,
a img,
label,
.search__body,
.search__body.active,
.panel--from-right,
.btn--sandwich__line,
.img--video-link:after {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
a:hover,
input:focus,
button:hover,
a:hover img,
label:hover,
.filter__available label,
.filter__available label:active,
.img--video-link:hover:after,
.img--video-link:active:after {
  transition: none;
}
/*
.b-menu--img a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}*/
