.filter__head__name {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.filter__body__section label {
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: normal;
  background: ;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
