.b_keramo-advantages__menu a {
  height: 80px;
}
.link--for-street {
  background: url("../img/street.png") top left no-repeat;
}
.link--for-walls {
  background: url("../img/walls.png") top left no-repeat;
}
.link--for-floor {
  background: url("../img/floor.png") top left no-repeat;
}
.link--special {
  background: url("../img/special.png") top left no-repeat;
}
