button.multiselect {
  width: 245px;
  height: 32px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #00894D;
  text-align: left;
  font-weight: normal;
  padding-left: 0;
  padding-top: 8px;
  border-radius: 0px;
  background: white;
  font-size: 13px;
  line-height: 14px;
  color: #888888;
}
