.awards__row {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}
.awards__col {
  float: left;
  width: 14.2%;
}
.l_format-on-pic-outer {
  position: absolute;
  z-index: 2;
  color: white;
  top: 20px;
  left: 20px;
}
.format-on-pic {
  border: 1px solid;
  float: left;
  padding: 0 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.b_similar__item--inversed .format-on-pic,
.b_similar__item--inversed .b-menu--img__header {
  color: #000;
}
.b_similar__img-header {
  font-size: 16px;
  line-height: 21px;
}
.b-menu--img__header--smaller {
  font-weight: normal;
}
.card__carousel-indicators {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 5px;
  width: 100%;
}
.card__carousel-indicators li,
.card__carousel-indicators li.active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 120px;
  height: 80px;
  float: left;
  margin-right: 5px;
  overflow: hidden;
}
.card__carousel-indicators li.active {
  border: 5px solid;
}
