.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.carousel.carousel-fade .active.item {
  opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}
.card__carousel.carousel.carousel-fade .item {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0;
}
.card__carousel.carousel.carousel-fade .item.active {
  -webkit-transition: opacity 0.3 ease-in-out;
  -moz-transition: opacity 0.3 ease-in-out;
  -ms-transition: opacity 0.3 ease-in-out;
  -o-transition: opacity 0.3 ease-in-out;
  transition: opacity 0.3 ease-in-out;
  opacity: 1;
}
/*fotoramia-titeland*/
.fotorama__nav {
  text-align: left !important;
}
/* .card__fotorama {


   .fotorama__thumb-border {
     border-color: @brand-success;
     background-image: none;
     border-width: 3px!important;
     width: 62px!important;
     height: 39px!important;

     @media screen and (min-width: @col-sm) {
       width: 112px!important;
       height: 74px!important;
     }


     @media screen and (min-width: @col-lg) {
       border-width: 5px!important;
       width: 108px!important;
       height: 70px!important;
     }
   }

 }*/
