.b-menu--text {
  margin: 0;
  padding: 0;
}
.b-menu--text li {
  list-style-type: none;
}
.b-menu--inverted a {
  color: #ffffff;
}
.b-menu--img {
  padding: 0;
  margin-bottom: 0;
}
.b-menu--img__header {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: bold;
}
