div.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*аним инпут*/
.animated-input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 100%;
  position: relative;
  font-size: 16px;
}
.animated-input__input {
  box-sizing: border-box;
  border: none;
  border-radius: 0.5em;
  background: none;
  width: 100%;
  padding: 1.2em 1em 0.8em;
  position: relative;
  z-index: 2;
  font-size: 1em;
}
.animated-input__input:focus {
  outline: none;
}
.animated-input__placeholder {
  box-sizing: border-box;
  border: none;
  background: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-left: 1em;
  left: 0;
  top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  color: #777;
  transition: all 0.2s ease;
}
.animated-input__input_filled + .animated-input__placeholder,
.animated-input__input:focus + .animated-input__placeholder {
  font-size: 0.8em;
  top: 0;
  margin-top: 0.1em;
}
