.b_keramo-production__content {
  background: url("../img/bg-production.jpg") top left no-repeat;
  background-size: cover;
}
.b_keramo-production__content.padding-standart {
  padding-bottom: 24px;
}
