.b-footer__content {
  background: url("../img/footer.png") top left no-repeat;
  color: #ffffff;
  font-size: 16px;
  padding-top: 60px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 140px;
}
.b-footer__col {
  @m float: left;
  width: 20%;
}
