@charset "UTF-8";
.header {
  background: #ffffff;
  height: 52px;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
}
@media screen and (min-width: 1400px) {
  .header .nav {
    padding-top: 13px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.header .nav a:hover,
.header .nav a:active {
  color: #ef1d26 !important;
}
@media screen and (min-width: 740px) {
  .header {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1400px) {
  .header {
    height: 80px;
  }
}
.header__content {
  box-sizing: border-box;
}
@media screen and (min-width: 1400px) {
  .header__content {
    max-width: 1424px;
    margin: 0 auto;
    border-left: 4px solid #f1f1f1;
    border-right: 4px solid #f1f1f1;
  }
}
.header__navbar.navbar {
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  border: none;
}
@media screen and (max-width: 1399px) {
  .header__navbar.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
.header__brand {
  float: left;
  height: 52px;
  position: relative;
  z-index: 100;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1400px) {
  .header__brand {
    width: 183px;
    text-align: center;
    height: 80px;
    padding-left: 0;
  }
}
.header__brand a.navbar-brand {
  padding-top: 19px;
  float: none!important;
  display: inline-block !important;
}
@media screen and (min-width: 1400px) {
  .header__brand a.navbar-brand {
    padding-top: 30px;
  }
}
.header__brand__logo {
  width: 115px;
}
.header__search {
  float: left;
}
@media screen and (min-width: 740px) {
  .header__search {
    padding-left: 7px;
    padding-top: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .header__search {
    /* width: 597px;*/
    padding-left: 25px;
    padding-right: 0px;
    width: 560px;
    height: 80px;
    /*line-height: 78px;*/
    padding-top: 22px;
  }
}
.header__search__label {
  font-size: 16px;
  line-height: 18px;
  float: left;
  margin-right: 30px;
  padding-top: 19px;
}
@media screen and (min-width: 1400px) {
  .header__search__label {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .header__search a {
    padding-top: 7px;
    display: block;
  }
}
.header__search__body {
  float: left;
}
@media screen and (min-width: 1400px) {
  .header__search__body {
    /*margin-top: 21px;*/
    margin-left: 211px;
    float: none;
    top: -1px;
  }
}
.header__navigation {
  margin-right: 75px;
}
@media screen and (min-width: 1400px) {
  .header__navigation {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 0;
    height: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .header__navigation .nav.navbar-nav {
    padding-top: 13px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 740px) {
  .header__navigation .nav.navbar-nav > li > a {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 18px;
    /*padding-top: 18px;*/
  }
}
@media screen and (min-width: 1400px) {
  .header__navigation .nav.navbar-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.header__navigation__phone {
  padding-top: 29px;
}
@media screen and (min-width: 1400px) {
  .header__user-block {
    width: 258px;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
  }
}
.header .btn--primary {
  line-height: 33px;
  height: 37px;
}
.header .btn--primary:hover {
  color: #ef1d26;
  background: white;
}
.search__body {
  position: relative;
  height: 36px;
}
@media screen and (max-width: 1399px) {
  .search__body {
    position: absolute;
    right: 87px;
    top: 8px;
    width: 36px;
    z-index: 100;
    background: white;
    overflow: hidden;
  }
}
@media screen and (max-width: 739px) {
  .search__body.active {
    width: calc(100% - 100px);
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .search__body.active {
    width: 400px;
  }
}
@media screen and (min-width: 1400px) {
  .search__body:before {
    content: '\e80e';
    font-family: "tileland";
    color: #ef1d26;
    position: absolute;
    left: 0;
    top: 50%;
    height: 18px;
    margin-top: -9px;
    font-size: 14px;
  }
}
.search__body__input {
  border-color: #ef1d26 !important;
  font-size: 16px;
  line-height: 18px;
  height: 36px;
  line-height: 36px;
  color: #000000;
}
@media screen and (max-width: 1399px) {
  .search__body__input {
    position: absolute;
    left: 0px;
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .search__body__input {
    padding-left: 22px;
    width: 95%;
  }
}
.search__body__input::-webkit-input-placeholder {
  color: #000000;
}
.search__body__input::-moz-placeholder {
  color: #000000;
}
.search__body__input:-ms-input-placeholder {
  color: #000000;
}
.search__body__input:-moz-placeholder {
  color: #000000;
}
.search__body__input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.search__body__input:focus::-moz-placeholder {
  color: #ffffff;
}
.search__body__input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.search__body__input:focus:-moz-placeholder {
  color: #ffffff;
}
.search__body__button {
  height: 36px;
  width: 36px;
  right: 0;
  position: absolute;
  background: white!important;
  z-index: 2;
}
.search__body__button i {
  font-size: 18px;
  margin-right: 10px;
}
.panel-nav-mob {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  visibility: hidden;
  left: 100%;
}
.panel-nav-mob.active {
  left: 0;
  visibility: visible;
}
.panel-nav-mob__content {
  padding-top: 70px;
  font-size: 15px;
  line-height: 17px;
}
.panel-nav-mob__navigation > li {
  float: none!important;
}
.panel-nav-mob__navigation > li > a {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.panel-nav-mob__navigation button {
  padding-left: 0;
}
@media screen and (min-width: 1400px) {
  .panel-nav-mob {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .cart {
    position: absolute;
    right: 34px;
    top: 0;
  }
}
.cart__count {
  color: #ef1d26;
  position: relative;
  margin-right: 9px;
  float: left;
}
@media screen and (min-width: 740px) {
  .cart__count {
    margin-right: 5px;
  }
}
.cart__count i {
  font-size: 18px;
  margin-right: 9px;
}
.cart__count__number {
  font-weight: 900;
  font-size: 13px;
  position: absolute;
  top: -5px;
  left: 9px;
}
.cart__text {
  white-space: nowrap;
}
.header-navbar__button {
  right: 0;
  z-index: 100;
  position: absolute;
}
.filter {
  text-align: left;
}
@media screen and (max-width: 1399px) {
  .filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: none;
  }
}
.filter__header.b-text {
  /* padding-bottom: 15px;*/
}
@media screen and (max-width: 1399px) {
  .filter__header.b-text {
    padding-right: 0;
  }
}
@media screen and (max-width: 1399px) {
  .filter__header {
    /*  border-bottom: 4px solid @gray-light;*/
    padding-top: 0!important;
  }
}
@media screen and (min-width: 1400px) {
  .filter__header {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 1399px) {
  .filter__header * > div {
    border-bottom: 4px solid #f1f1f1;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
  }
}
.filter__name {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  padding-top: 4px;
}
@media screen and (max-width: 739px) {
  .filter__body {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0px;
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    top: 117px;
    position: fixed;
  }
}
@media screen and (min-width: 1400px) {
  .filter__body:after {
    content: "";
    display: block;
    position: absolute;
    /* width: auto; */
    height: 83px;
    right: 2px;
    left: 3px;
    bottom: 77px;
    background: #ffffff;
    z-index: -1;
  }
}
@media screen and (max-width: 1399px) {
  .filter__footer {
    border-bottom: 4px solid #f1f1f1;
  }
}
@media screen and (min-width: 1400px) {
  .filter__footer {
    margin-bottom: 4px;
  }
}
.filter__footer .button-all-filters {
  width: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 1399px) {
  .filter__section {
    border-bottom: 4px solid #f1f1f1;
  }
}
@media screen and (min-width: 1400px) {
  .filter__section {
    margin-bottom: 4px;
  }
}
.filter__section label,
.filter__section a {
  cursor: pointer;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  font-size: 13px;
  font-weight: normal;
  background: #f1f1f1;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.filter__section label.label--outside,
.filter__section a.label--outside {
  background: none;
}
.filter__section label:hover,
.filter__section a:hover {
  background: #CBCBCB;
}
.filter__section a {
  padding-left: 7px!important;
  padding-right: 7px!important;
}
.filter__section input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.filter__section input:checked + label {
  background: #00894D;
  color: white;
}
.filter__section ul {
  margin-bottom: 0;
}
.filter__item--inline {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.filter__item--pic {
  display: block;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}
.filter__item--pic label {
  width: 83px;
  height: 74px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.filter__item--pic label i {
  font-size: 34px;
  top: 6px;
  display: block;
  position: relative;
  margin-bottom: 2px;
}
.filter .filter-section__name {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
  display: block;
  margin-top: 9px;
}
@media screen and (min-width: 1400px) {
  .filter .filter-section__name {
    margin-top: 3px;
  }
}
.filter__available {
  width: 60px;
  display: block;
  border: 1px solid #00894D;
  background: #ffffff;
}
.filter__available + .label--outside {
  padding-top: 5px;
}
.filter__item--toggle {
  float: left;
  width: 23px;
  height: 25px;
  background: white;
  position: relative;
}
.filter__item--toggle:first-child {
  /* width: 35px;*/
}
.filter__item--toggle:nth-child(2) {
  right: 0;
  width: 35px;
}
.filter__item--toggle label {
  padding: 0;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /* width: 25px;*/
}
.filter__item--toggle label:hover {
  background: white;
}
.filter__item--toggle input:checked + label {
  background: #00894D;
  width: 35px;
  min-width: 35px;
  z-index: 5;
}
.filter__item--toggle:first-child input:checked + label {
  background: #CBCBCB;
}
.filter .label.dropdown {
  width: 245px;
}
.filter__button.btn--primary {
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-top: 6px;
}
@media screen and (max-width: 739px) {
  .filter__button.btn--primary {
    padding-left: 16px;
    margin-bottom: 12px;
  }
}
.filter__button.btn--primary i {
  font-size: 0.6em;
  top: -2px;
  position: relative;
  margin-left: 5px;
}
.filter__collections {
  margin-top: 11px;
  margin-bottom: 18px;
}
.filter__collections .filter-section__name {
  margin-bottom: 0;
}
.filter__list-pics {
  overflow: hidden;
  padding-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .filter__list-pics {
    padding-bottom: 0;
  }
}
.button--clear {
  top: -2px;
  position: relative;
  height: 22px!important;
}
@media screen and (min-width: 1400px) {
  .button--clear {
    float: right;
    height: auto;
  }
}
.button-all-filters {
  display: block;
  text-align: center;
}
.button-show-more {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .button-show-more {
    height: 54px!important;
    line-height: 54px!important;
  }
}
.f--hidden {
  display: none;
}
.button--close-filter {
  right: 32px;
  top: -43px;
  position: absolute;
  font-size: 16px!important;
}
@media (min-width: 740px) {
  .height100-right-sm {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }
  .height100-right-sm > div {
    height: 100%;
  }
}
@media (min-width: 740px) {
  .height100-left-sm {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
  }
  .height100-left-sm > div {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .height100-right-lg {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }
  .height100-right-lg > div {
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .height100-left-lg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
  }
  .height100-left-lg > div {
    height: 100%;
  }
}
@media screen and (min-width: 740px) {
  .row.b_material__advantages .b-text {
    min-height: 330px;
  }
}
.cart__text {
  font-size: 15px;
}
/*
.height100-right-lg > .b-text,
.height100-right-sm > .b-text {
  margin-left: -3px;
}
*/
.row.table-row > [class*="col-"].custom {
  text-align: center;
}
@media (min-width: 740px) {
  .row.table-row {
    display: table;
    width: 100%;
    margin: 0 auto;
  }
  .row.table-row > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
  .row.table-row > .col-sm-11 {
    width: 91.66666667%;
  }
  .row.table-row > .col-sm-10 {
    width: 83.33333333%;
  }
  .row.table-row > .col-sm-9 {
    width: 75%;
  }
  .row.table-row > .col-sm-8 {
    width: 66.66666667%;
  }
  .row.table-row > .col-sm-7 {
    width: 58.33333333%;
  }
  .row.table-row > .col-sm-6 {
    width: 50%;
  }
  .row.table-row > .col-sm-5 {
    width: 41.66666667%;
  }
  .row.table-row > .col-sm-4 {
    width: 33.33333333%;
  }
  .row.table-row > .col-sm-3 {
    width: 25%;
  }
  .row.table-row > .col-sm-2 {
    width: 16.66666667%;
  }
  .row.table-row > .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .row.table-row > .col-md-11 {
    width: 91.66666667%;
  }
  .row.table-row > .col-md-10 {
    width: 83.33333333%;
  }
  .row.table-row > .col-md-9 {
    width: 75%;
  }
  .row.table-row > .col-md-8 {
    width: 66.66666667%;
  }
  .row.table-row > .col-md-7 {
    width: 58.33333333%;
  }
  .row.table-row > .col-md-6 {
    width: 50%;
  }
  .row.table-row > .col-md-5 {
    width: 41.66666667%;
  }
  .row.table-row > .col-md-4 {
    width: 33.33333333%;
  }
  .row.table-row > .col-md-3 {
    width: 25%;
  }
  .row.table-row > .col-md-2 {
    width: 16.66666667%;
  }
  .row.table-row > .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1400px) {
  .row.table-row > .col-lg-11 {
    width: 91.66666667%;
  }
  .row.table-row > .col-lg-10 {
    width: 83.33333333%;
  }
  .row.table-row > .col-lg-9 {
    width: 75%;
  }
  .row.table-row > .col-lg-8 {
    width: 66.66666667%;
  }
  .row.table-row > .col-lg-7 {
    width: 58.33333333%;
  }
  .row.table-row > .col-lg-6 {
    width: 50%;
  }
  .row.table-row > .col-lg-5 {
    width: 41.66666667%;
  }
  .row.table-row > .col-lg-4 {
    width: 33.33333333%;
  }
  .row.table-row > .col-lg-3 {
    width: 25%;
  }
  .row.table-row > .col-lg-2 {
    width: 16.66666667%;
  }
  .row.table-row > .col-lg-1 {
    width: 8.33333333%;
  }
}
.row.table-row--lg > [class*="col-"].custom {
  text-align: center;
}
@media (min-width: 1400px) {
  .row.table-row--lg {
    display: table;
    width: 100%;
    margin: 0 auto;
  }
  .row.table-row--lg > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
  .row.table-row--lg > .col-lg-11 {
    width: 91.66666667%;
  }
  .row.table-row--lg > .col-lg-10 {
    width: 83.33333333%;
  }
  .row.table-row--lg > .col-lg-9 {
    width: 75%;
  }
  .row.table-row--lg > .col-lg-8 {
    width: 66.66666667%;
  }
  .row.table-row--lg > .col-lg-7 {
    width: 58.33333333%;
  }
  .row.table-row--lg > .col-lg-6 {
    width: 50%;
  }
  .row.table-row--lg > .col-lg-5 {
    width: 41.66666667%;
  }
  .row.table-row--lg > .col-lg-4 {
    width: 33.33333333%;
  }
  .row.table-row--lg > .col-lg-3 {
    width: 25%;
  }
  .row.table-row--lg > .col-lg-2 {
    width: 16.66666667%;
  }
  .row.table-row--lg > .col-lg-1 {
    width: 8.33333333%;
  }
}
/*
@media (min-width: 992px) {
  .row.table-row--lg> .col-md-11 {
    width: 91.66666666666666%;
  }
  .row.table-row--lg> .col-md-10 {
    width: 83.33333333333334%;
  }
  .row.table-row--lg> .col-md-9 {
    width: 75%;
  }
  .row.table-row--lg> .col-md-8 {
    width: 66.66666666666666%;
  }
  .row.table-row--lg> .col-md-7 {
    width: 58.333333333333336%;
  }
  .row.table-row--lg> .col-md-6 {
    width: 50%;
  }
  .row.table-row--lg> .col-md-5 {
    width: 41.66666666666667%;
  }
  .row.table-row--lg> .col-md-4 {
    width: 33.33333333333333%;
  }
  .row.table-row--lg> .col-md-3 {
    width: 25%;
  }
  .row.table-row--lg> .col-md-2 {
    width: 16.666666666666664%;
  }
  .row.table-row--lg> .col-md-1 {
    width: 8.333333333333332%;
  }

}


@media (min-width: @col-lg) {
  .row.table-row--lg> .col-lg-11 {
    width: 91.66666666666666%;
  }
  .row.table-row--lg> .col-lg-10 {
    width: 83.33333333333334%;
  }
  .row.table-row--lg> .col-lg-9 {
    width: 75%;
  }
  .row.table-row--lg> .col-lg-8 {
    width: 66.66666666666666%;
  }
  .row.table-row--lg> .col-lg-7 {
    width: 58.333333333333336%;
  }
  .row.table-row--lg> .col-lg-6 {
    width: 50%;
  }
  .row.table-row--lg> .col-lg-5 {
    width: 41.66666666666667%;
  }
  .row.table-row--lg> .col-lg-4 {
    width: 33.33333333333333%;
  }
  .row.table-row--lg> .col-lg-3 {
    width: 25%;
  }
  .row.table-row--lg> .col-lg-2 {
    width: 16.666666666666664%;
  }
  .row.table-row--lg> .col-lg-1 {
    width: 8.333333333333332%;
  }

}
*/
.b-menu--text {
  margin: 0;
  padding: 0;
}
.b-menu--text li {
  list-style-type: none;
}
.b-menu--inverted a {
  color: #ffffff;
}
.b-menu--inverted a:hover,
.b-menu--inverted a:active,
.b-menu--inverted a:visited,
.b-menu--inverted a:link {
  text-decoration: none;
}
.b-menu--inverted a:hover,
.b-menu--inverted a:active {
  color: #ef1d26;
}
.b-menu--inverted a:visited {
  color: #ffffff;
}
.b-menu--img {
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  .b-menu--img {
    position: relative;
    left: -1px;
  }
}
.b-menu--img__header {
  position: absolute;
  bottom: 9px;
  left: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
}
@media screen and (min-width: 1400px) {
  .b-menu--img__header {
    font-size: 20px;
    line-height: 26px;
    bottom: 20px;
  }
}
.b-menu--img li {
  list-style-type: none;
  margin-bottom: 5px;
}
@media screen and (max-width: 739px) {
  .b-menu--img li {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 740px) {
  .b-menu--img li.line--last-md {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b-menu--img li.line--last-lg {
    margin-bottom: 0;
  }
}
.b-menu--img li a {
  display: block;
  opacity: 1;
}
@media screen and (min-width: 740px) {
  .b-menu--img li a {
    background-size: cover;
  }
}
@media screen and (min-width: 1400px) {
  .b-menu--img li a {
    background-size: cover;
  }
}
.b-menu--img li a img {
  opacity: 1;
}
.b-menu--img li a:hover {
  opacity: 0.8;
}
@media screen and (min-width: 740px) {
  .b-menu--img li a:hover {
    background-size: cover;
  }
}
@media screen and (min-width: 1400px) {
  .b-menu--img li a:hover {
    background-size: cover;
  }
}
.b-menu--img li a:hover img {
  opacity: 0.8;
}
.b-menu--img-video {
  position: relative;
}
@media screen and (min-width: 1400px) {
  .b-menu--img-video a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -18px;
    right: 50%;
    width: 36px;
    height: 40px;
    background: url("../img/play.svg") center center;
    background-size: cover;
    z-index: 2;
  }
}
.b-footer__content {
  background: url("../img/footer.png") top left no-repeat;
  background-size: auto 100%;
  color: #ffffff;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 140px;
}
@media screen and (min-width: 1400px) {
  .b-footer__content {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1400px) {
  .b-footer__col {
    float: left;
    width: 20%;
  }
}
.b-footer__year {
  font-size: 12px;
  line-height: 14px;
}
.b-footer__menu {
  margin-bottom: 46px;
  margin-top: 30px;
}
@media screen and (min-width: 740px) {
  .b-footer__menu {
    margin-bottom: 29px;
    margin-top: 0;
  }
}
.b-footer i.demo-icon.icon-youtube {
  margin-left: -8px;
  margin-right: 2px;
}
.b-footer__links-block {
  margin-top: 30px;
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b-footer__links-block {
    padding-left: 40px;
    margin-top: 0;
  }
}
@media screen and (min-width: 740px) {
  .b-footer__copyright {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .b-footer__copyright {
    padding-left: 84px;
  }
}
.b-footer__soc {
  margin-top: 18px;
  font-size: 14px;
}
@media screen and (max-width: 739px) {
  .b-footer__soc {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 740px) {
  .b-footer__soc {
    margin-top: 9px;
  }
}
@media screen and (min-width: 1400px) {
  .b-footer__soc {
    text-align: center;
    margin-top: 0;
  }
}
.b-footer__soc i {
  margin-right: 5px;
}
@media screen and (max-width: 739px) {
  .b-footer__soc .icon-vk {
    font-size: 27px;
    margin-left: -9px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 739px) {
  .b-footer__soc .icon-fb {
    font-size: 38px;
    margin-right: 14px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b-footer__soc .icon-fb {
    font-size: 22px;
    top: 2px;
    position: relative;
  }
}
@media screen and (max-width: 739px) {
  .b-footer__soc .icon-youtube {
    font-size: 35px;
    margin-right: 24px!important;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b-footer__soc .icon-youtube {
    font-size: 18px;
  }
}
.b-footer__soc i.demo-icon.icon-insta {
  font-size: 1.2em;
  margin-left: 3px;
}
@media screen and (max-width: 739px) {
  .b-footer__soc i.demo-icon.icon-insta {
    font-size: 40px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b-footer__soc i.demo-icon.icon-insta {
    font-size: 20px;
    margin-left: 6px;
  }
}
@font-face {
  font-family: 'tileland';
  src: url('../fonts/tileland.eot?48905382');
  src: url('../fonts/tileland.eot?48905382#iefix') format('embedded-opentype'), url('../fonts/tileland.woff2?48905382') format('woff2'), url('../fonts/tileland.woff?48905382') format('woff'), url('../fonts/tileland.ttf?48905382') format('truetype'), url('../fonts/tileland.svg?48905382#tileland') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tileland';
    src: url('../fonts/tileland.svg?48905382#tileland') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tileland";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-cart:before {
  content: '\e800';
}
/* '' */
.icon-fb:before {
  content: '\e801';
}
/* '' */
.icon-arrow-right:before {
  content: '\e802';
}
/* '' */
.icon-insta:before {
  content: '\e803';
}
/* '' */
.icon-vk:before {
  content: '\e808';
}
/* '' */
.icon-icon-strength--b:before {
  content: '\e80b';
}
/* '' */
.icon-youtube:before {
  content: '\e80c';
}
/* '' */
.icon-rezka:before {
  content: '\e80d';
}
/* '' */
.icon-search:before {
  content: '\e80e';
}
/* '' */
.icon-check-invert:before {
  content: '\e80f';
}
/* '' */
.icon-order:before {
  content: '\e811';
}
/* '' */
.icon-pencil:before {
  content: '\e812';
}
/* '' */
.icon-close:before {
  content: '\e813';
}
/* '' */
.icon-download:before {
  content: '\e815';
}
/* '' */
.icon-drop:before {
  content: '\e817';
}
/* '' */
.icon-hammer:before {
  content: '\e818';
}
/* '' */
.icon-material-wood:before {
  content: '\e819';
}
/* '' */
.icon-material-design:before {
  content: '\e81a';
}
/* '' */
.icon-material-beton:before {
  content: '\e81b';
}
/* '' */
.icon-material-metall:before {
  content: '\e81c';
}
/* '' */
.icon-material-mramor:before {
  content: '\e81d';
}
/* '' */
.icon-finished:before {
  content: '\e81e';
}
/* '' */
.icon-map:before {
  content: '\e81f';
}
/* '' */
.icon-profile:before {
  content: '\e820';
}
/* '' */
.icon-material-stone:before {
  content: '\e821';
}
/* '' */
.icon-check:before {
  content: '\e823';
}
/* '' */
.icon-height-lg-1:before {
  content: '\e824';
}
/* '' */
.icon-pdf:before {
  content: '\e825';
}
/* '' */
.icon-height-sm:before {
  content: '\e826';
}
/* '' */
.icon-height-md:before {
  content: '\e827';
}
/* '' */
.icon-icon-strength:before {
  content: '\e828';
}
/* '' */
.icon-play:before {
  content: '\e829';
}
/* '' */
@media screen and (max-width: 739px) {
  .b_company.b_section {
    margin-bottom: 4px;
    padding-bottom: 19px;
  }
}
@media screen and (min-width: 740px) {
  .b_company {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .b_company {
    margin-bottom: 58px!important;
    margin-top: 58px;
  }
}
.b_company__slogan.b-slogan {
  font-size: 18px;
}
@media screen and (min-width: 1400px) {
  .b_company__slogan.b-slogan {
    font-size: 26px;
    line-height: 31px;
  }
}
.b_company__menu a {
  height: 100px;
  display: block;
}
@media screen and (min-width: 1400px) {
  .b_company__menu a {
    height: 304px;
  }
}
.b-menu--img__values {
  background: url("../img/nav-values.png") center 80% no-repeat;
  background-size: 100% auto;
}
@media screen and (min-width: 1400px) {
  .b-menu--img__values {
    background-position: center center;
  }
}
.b-menu--img__delivery {
  background: url("../img/nav-delivery-sm.png") center center no-repeat;
  background-size: 100% auto;
}
@media screen and (min-width: 1400px) {
  .b-menu--img__delivery {
    background-image: url("../img/nav-delivery.png");
  }
}
.b-menu--img__tech {
  background: url("../img/nav-tech.png") center 77% no-repeat;
  background-size: 100% auto;
}
@media screen and (min-width: 1400px) {
  .b-menu--img__tech {
    background-position: center center;
  }
}
.b-menu--img__partners {
  background: url("../img/nav-partners.png") center 84% no-repeat;
  background-size: 100% auto;
}
@media screen and (min-width: 1400px) {
  .b-menu--img__partners {
    background-position: center center;
  }
}
@media screen and (min-width: 740px) {
  .b-menu--img a:hover {
    background-size: 103%;
  }
}
.b_collections h2 {
  padding: 6px 16px 0 16px;
}
@media screen and (min-width: 740px) {
  .b_collections h2 {
    padding: 0px;
    margin-bottom: 7px;
  }
}
@media screen and (min-width: 1400px) {
  .b_collections h2 {
    margin-bottom: 12px;
    margin-bottom: 35px;
  }
}
.b_collections__sidebar.b-text--in-col {
  padding: 0;
}
@media screen and (max-width: 739px) {
  .b_collections__menu {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 207px;
  }
}
@media screen and (max-width: 739px) {
  .b_collections__menu ul {
    /*   overflow-x: scroll;
    height: 213px;*/
    width: 1100px;
  }
}
.b_collections__menu li {
  overflow: hidden;
}
@media screen and (max-width: 739px) {
  .b_collections__menu li:first-child {
    margin-left: 13px;
  }
}
@media screen and (max-width: 739px) {
  .b_collections__menu li {
    float: left;
    width: 270px;
  }
}
@media screen and (min-width: 740px) {
  .b_collections__menu li {
    height: 272px;
  }
}
@media screen and (min-width: 1400px) {
  .b_collections__menu li {
    height: 260px;
  }
}
.b_collections__menu li img {
  width: 270px;
}
@media screen and (min-width: 740px) {
  .b_collections__menu li img {
    width: 100%;
    max-width: 100%;
  }
}
.b_collections__menu .b-menu--img__header {
  text-transform: uppercase;
  font-size: 15px;
}
.b_work {
  position: relative;
}
@media screen and (max-width: 739px) {
  .b_work h2 {
    margin-bottom: 13px;
  }
}
.b_work .b-slogan {
  /*margin-bottom: 40px;*/
}
.b_work .b-slogan:before {
  width: 202px;
}
@media screen and (min-width: 740px) {
  .b_work .b-slogan:before {
    width: 131px;
  }
}
@media screen and (min-width: 1400px) {
  .b_work .b-slogan:before {
    width: 290px;
  }
}
@media screen and (max-width: 739px) {
  .b_work__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 739px) {
  .b_work__text {
    margin-top: 175px;
  }
}
.b_work__text .b-text {
  /* padding-bottom: 77px;*/
}
.b_work__video-link {
  display: block;
  position: relative;
  background: url("../img/work-video.jpg") center right no-repeat;
  background-size: 100% auto;
  height: 187px;
}
@media screen and (min-width: 740px) {
  .b_work__video-link {
    background-size: auto 100%;
  }
}
.b_work__video-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -18px;
  right: 50%;
  width: 36px;
  height: 44px;
  background: url(../img/play.svg) center center;
  background-size: cover;
  z-index: 2;
}
@media screen and (min-width: 740px) {
  .b_work__video-link:before {
    width: 53px;
    height: 60px;
    margin-top: -26px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1400px) {
  .b_work__video-link:before {
    width: 90px;
    height: 104px;
    margin-left: -45px;
    margin-top: -52px;
  }
}
.b_work__video-link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 740px) {
  .b_work__video-link {
    height: 441px;
  }
}
@media screen and (min-width: 1400px) {
  .b_work__video-link {
    height: 526px;
  }
}
.b_delivery {
  /* &__map {
    background: url("../img/delivery-map-bg.png") top left no-repeat;
  }*/
}
@media screen and (max-width: 739px) {
  .b_delivery h3 {
    position: absolute;
  }
}
.b_delivery__map {
  overflow: hidden;
  /* height: 300px;
  background: url(../img/delivery-map--xs.svg) 0px 0px no-repeat;
  background-size: 100% auto;*/
}
@media screen and (min-width: 740px) {
  .b_delivery__map {
    background: url(../img/delivery-map-bg.png) 0px 0px no-repeat;
    height: 387px;
    background-position: -152px -55px;
  }
}
@media screen and (min-width: 1400px) {
  .b_delivery__map {
    height: 474px;
    background-position: top left;
  }
}
.b_delivery__map__ul-xs {
  font-size: 15px;
  line-height: 21px;
  color: white;
  position: absolute;
  left: 16px;
  top: 50%;
  padding: 22px;
  padding-left: 30px;
}
.b_delivery__map__ul-xs li {
  list-style-type: none;
  position: relative;
}
.b_delivery__map__ul-xs li:before {
  content: "—";
  position: absolute;
  left: -26px;
}
.b_delivery__h3 {
  position: absolute;
  left: 16px;
}
@media screen and (min-width: 740px) {
  .b_delivery__h3 {
    left: 20px;
  }
}
.b_delivery__slogan.b-slogan {
  padding-top: 13px;
}
@media screen and (max-width: 739px) {
  .b_delivery__slogan.b-slogan {
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1400px) {
  .b_delivery__slogan.b-slogan {
    font-size: 13px;
    line-height: 17px;
    margin-right: 10px;
    bottom: 26px;
  }
}
@media screen and (min-width: 1400px) {
  .b_delivery__slogan.b-slogan {
    bottom: 20px;
  }
}
.b_delivery__slogan.b-slogan:before {
  width: 0;
}
@media screen and (min-width: 740px) {
  .b_delivery__slogan.b-slogan:before {
    width: 93px;
  }
}
@media screen and (min-width: 1400px) {
  .b_delivery__slogan.b-slogan:before {
    width: 173px;
  }
}
@media screen and (max-width: 739px) {
  .b_delivery__slogan .font--infographic {
    float: left;
    margin-right: 30px;
  }
}
.b_delivery__slogan__number {
  display: block;
  font-size: 57.2973px;
  line-height: 52px;
  margin-bottom: 5px;
}
@media screen and (min-width: 740px) {
  .b_delivery__slogan__number {
    font-size: 74.5664px;
    line-height: 55px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_delivery__slogan__number {
    font-size: 120px;
    line-height: 120px;
  }
}
.b_delivery__slogan__days {
  display: block;
  font-size: 31.9362px;
  line-height: 14px;
  margin-bottom: 30px;
}
@media screen and (min-width: 740px) {
  .b_delivery__slogan__days {
    font-size: 41.5616px;
    line-height: 34px;
    margin-bottom: 13px;
  }
}
@media screen and (min-width: 1400px) {
  .b_delivery__slogan__days {
    font-size: 67.2158px;
    line-height: 37px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_delivery__sidebar .b-text {
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-all;
  }
}
.markers-on-map {
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 740px) {
  .markers-on-map {
    top: 0;
    left: 0;
  }
}
.markers-on-map li {
  list-style-type: none;
  font-size: 15px;
  line-height: 21px;
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px;
}
.markers-on-map li:before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  border-bottom: 1px solid;
  width: 11px;
  margin-left: -23px;
  top: 9px;
}
@media screen and (min-width: 740px) {
  .markers-on-map li {
    list-style-type: none;
    font-size: 15px;
    line-height: 21px;
  }
  .markers-on-map li:before {
    content: none;
  }
}
@media screen and (min-width: 1400px) {
  .markers-on-map li {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 740px) {
  .markers-on-map__popular {
    position: absolute;
    left: 258px;
    top: 118px;
    max-width: 180px;
  }
}
@media screen and (min-width: 1400px) {
  .markers-on-map__popular {
    max-width: 200px;
    left: 414px;
    top: 173px;
  }
}
@media screen and (min-width: 740px) {
  .markers-on-map__unique {
    position: absolute;
    top: 179px;
    left: 38px;
    max-width: 230px;
  }
}
@media screen and (min-width: 1400px) {
  .markers-on-map__unique {
    top: 225px;
    left: 195px;
    max-width: 262px;
  }
}
.b_strength {
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
@media screen and (max-width: 739px) {
  .b_strength h3 {
    padding-top: 66px;
  }
}
@media screen and (min-width: 740px) {
  .b_strength {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength {
    margin-bottom: 40px;
  }
}
.b_strength__main-text {
  background: url("../img/bg-car.png") top left no-repeat;
  background-size: cover;
  font-size: 15px;
  line-height: 140%;
  padding-bottom: 35px;
}
@media screen and (max-width: 739px) {
  .b_strength__main-text {
    padding-bottom: 0!important;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength__main-text {
    background: url("../img/bg-work.png") top left no-repeat;
  }
}
@media screen and (min-width: 740px) {
  .b_strength__main-text {
    padding-bottom: 49px;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength__main-text {
    font-size: 18px;
    line-height: 139%;
    padding-bottom: 75px;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength__main-text__intro {
    max-width: 430px;
  }
}
.b_strength__no-hit-text {
  font-size: 15px;
  line-height: 140%;
  text-align: left;
}
.b_strength__no-hit-text__icon {
  margin-bottom: 40px;
  width: 86px;
  margin-top: 53px;
}
@media screen and (min-width: 740px) {
  .b_strength__no-hit-text__icon {
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength__no-hit-text__icon {
    width: 190px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_strength__no-hit-text {
    position: absolute;
    width: 212px;
    right: 16px;
    top: 153px;
    color: white;
  }
  .b_strength__no-hit-text .b-text {
    background: transparent;
  }
}
@media screen and (min-width: 740px) {
  .b_strength__no-hit-text {
    font-size: 13px;
    line-height: 131%;
  }
}
@media screen and (min-width: 1400px) {
  .b_strength__no-hit-text {
    font-size: 16px;
    line-height: 144%;
  }
}
@media screen and (max-width: 740px) {
  .b_strength-infographic:before {
    content: "";
    position: absolute;
    left: -21px;
    right: -21px;
    top: 0;
    bottom: -16px;
    display: block;
    height: 100%;
    background: white;
    z-index: 0;
  }
}
.strength-infographic {
  border-bottom: 1px dotted #000000;
  width: 100%;
  overflow: hidden;
  margin-left: -21px;
  margin-top: 19px;
  padding-top: 38px;
  display: table;
}
@media screen and (min-width: 740px) {
  .strength-infographic {
    border-bottom: 1px dotted white;
    width: auto;
  }
}
@media screen and (min-width: 740px) {
  .strength-infographic {
    margin-top: 56px;
    padding-top: 0;
  }
}
@media screen and (max-width: 740px) {
  .strength-infographic {
    color: #000000;
    position: relative;
  }
}
.strength-infographic__icon {
  width: 98px;
  display: table-cell;
}
@media screen and (min-width: 740px) {
  .strength-infographic__icon {
    width: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .strength-infographic__icon {
    width: 118px;
  }
}
.strength-infographic__icon .icon-height-sm {
  font-size: 35px;
  line-height: 0;
  left: -7px;
  top: 2px;
  position: relative;
}
@media screen and (max-width: 739px) {
  .strength-infographic__icon .icon-height-sm {
    left: -26px;
  }
}
.strength-infographic__icon .icon-height-lg-1 {
  font-size: 87px;
  top: 2px;
  line-height: 0;
  left: -16px;
  position: relative;
}
@media screen and (max-width: 739px) {
  .strength-infographic__icon .icon-height-lg-1 {
    font-size: 71px;
    left: -14px;
  }
}
.strength-infographic ul {
  font-size: 14px;
  line-height: 150%;
  vertical-align: bottom;
}
.strength-infographic__font {
  font-size: 30px;
}
@media screen and (min-width: 740px) {
  .strength-infographic__font {
    font-size: 50px;
    line-height: 1em;
    top: -5px;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    width: 192px;
  }
}
.strength-infographic .b_list-unstyled {
  margin-left: 0;
}
@media screen and (min-width: 740px) {
  .strength-infographic .b_list-unstyled {
    float: right;
    margin-left: 0;
  }
}
.b_keramo-advantages {
  overflow: hidden;
  padding-bottom: 26px;
}
.b_keramo-advantages__menu {
  margin: 16px 16px 0 16px;
}
@media screen and (min-width: 740px) {
  .b_keramo-advantages__menu {
    margin: 0 -3px 0 -2px;
  }
}
.b_keramo-advantages__menu a {
  height: 80px;
  background-size: cover;
}
@media screen and (min-width: 740px) {
  .b_keramo-advantages__menu a {
    height: 135px;
  }
}
@media screen and (min-width: 1400px) {
  .b_keramo-advantages__menu a {
    height: 285px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_keramo-advantages .hidden-xs {
    margin-top: 26px;
  }
}
.link--for-street {
  background: url("../img/street.png") top left no-repeat;
}
.link--for-walls {
  background: url("../img/wall.png") top left no-repeat;
}
.link--for-floor {
  background: url("../img/floor.png") top left no-repeat;
  background-size: cover;
}
.link--for-bath {
  background: url("../img/wall-xs.jpg") top left no-repeat;
  background-size: cover;
}
.link--for-kitchen {
  background: url("../img/kitchen.jpg") top left no-repeat;
  background-size: cover;
}
.link--for-terr {
  background: url("../img/terrasa.png") top left no-repeat;
  background-size: cover;
}
.link--for-commerc {
  background: url("../img/commertial.jpg") top left no-repeat;
  background-size: cover;
}
.link--special {
  background: url("../img/special.png") top left no-repeat;
}
@media screen and (max-width: 740px) {
  .b_keramo-production.b_section {
    padding-bottom: 36px;
  }
}
.b_keramo-production__content {
  background: url("../img/bg-production.jpg") top left no-repeat;
  background-size: cover;
}
.b_keramo-production__content.padding-standart {
  padding-bottom: 24px;
}
@media screen and (min-width: 1400px) {
  .b_keramo-production__content.padding-standart {
    padding-bottom: 76px;
  }
}
.b_keramo-production__content .text--intro {
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 739px) {
  .b_keramo-production__content .h3 {
    margin-top: 6px;
    margin-bottom: 0;
  }
}
.b_keramo-production__btn-video {
  margin-top: 30px;
  margin-bottom: 24px;
  padding-left: 55px!important;
  padding-right: 55px!important;
}
@media screen and (min-width: 740px) {
  .b_keramo-production__btn-video {
    margin-top: 35px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_keramo-production__btn-video {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
}
@media screen and (min-width: 1400px) {
  .b_keramo-production__btn-video {
    position: absolute;
    bottom: 58px;
    right: 76px;
  }
}
.b_keramo-production__btn-video i {
  padding-right: 8px;
}
.b_material__header {
  margin-bottom: 4px;
}
@media screen and (max-width: 739px) {
  .b_material__header {
    border-bottom: 4px solid #f1f1f1;
    margin-top: 10px;
    padding-bottom: 21px!important;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__header.b-text {
    margin-bottom: 5px;
    padding-top: 53px;
    padding-bottom: 53px;
  }
}
.b_material__header__main-pic {
  margin-left: -21px;
}
@media screen and (min-width: 1400px) {
  .b_material__header .b-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.b_material__advantages {
  overflow: hidden;
  /*    .custom {
      z-index: 0;
      position: relative;

      &:after {
        background: white;
        content: "";
        display: block;
        height: 100%;

        position: absolute;
        top: 0;
        left: 3px;

        z-index: 0;
        right: 2px;
      }

      .b-text {
        position: relative;
      }


    }*/
}
@media screen and (max-width: 739px) {
  .b_material__advantages > div {
    border-bottom: 4px solid #f1f1f1;
  }
}
@media screen and (min-width: 740px) {
  .b_material__advantages {
    min-height: 300px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__advantages {
    min-height: 300px;
  }
}
.b_material__advantages__header {
  font-size: 18px;
  line-height: 23px;
  font-weight: 900;
  min-height: 28px;
}
@media screen and (min-width: 740px) {
  .b_material__advantages__header {
    min-height: 30px;
    line-height: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__advantages__header {
    font-size: 24px;
    line-height: 29px;
    min-height: 35px;
  }
}
.b_material__advantages__infographic {
  font-size: 40.0103px;
  line-height: 46px;
  display: block;
  margin-top: 13px;
  margin-bottom: 10px;
}
@media screen and (min-width: 740px) {
  .b_material__advantages__infographic {
    font-size: 26px;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__advantages__infographic {
    font-size: 52.0262px;
    line-height: 60px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 739px) {
  .b_material__advantages__content {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 9px;
  }
}
.b_material__advantages__content__first-line {
  display: block;
}
@media screen and (min-width: 740px) {
  .b_material__advantages__content__first-line {
    height: 136px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__advantages__content__first-line {
    height: 103px;
    padding-right: 60px;
  }
}
.b_material__advantages__content__img {
  margin-top: 30px;
  margin-bottom: -34px;
}
@media screen and (min-width: 740px) {
  .b_material__advantages__content__img {
    margin-bottom: 0;
    margin-top: 67px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material__advantages__content__img {
    margin-top: 51px;
  }
}
.b_material__advantages__content__img .item {
  width: 33%;
}
.b_material .icon-hammer {
  color: #ef1d26;
  position: relative;
  margin-left: -7px;
  font-size: 43px;
}
.b_material .icon-hammer:before {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 740px) {
  .b_material .icon-hammer {
    margin-left: -10px;
    top: -2px;
    font-size: 31px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material .icon-hammer {
    margin-left: -10px;
    top: 2px;
    font-size: 57px;
  }
}
.b_material .icon-drop {
  color: #10B2C8;
  position: relative;
  margin-left: -9px;
  font-size: 35px;
}
.b_material .icon-drop:before {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 740px) {
  .b_material .icon-drop {
    margin-left: -10px;
    /* font-size: 40px;*/
    font-size: 25px;
  }
}
@media screen and (min-width: 1400px) {
  .b_material .icon-drop {
    font-size: 43px;
    top: -2px;
    left: -10px;
    margin-left: 0;
  }
}
.b_capacity {
  overflow: hidden;
}
.b_capacity__main-text {
  padding-bottom: 8px;
  border-bottom: 4px solid #f1f1f1;
}
@media screen and (min-width: 740px) {
  .b_capacity__main-text {
    background: url("../img/bg-work.png") top left no-repeat;
    background-size: cover;
    padding-bottom: 22px;
    border-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_capacity__main-text {
    background: url("../img/bg-work.png") top left no-repeat;
    background-size: 100% auto;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_capacity .text--intro {
    max-width: 453px;
  }
}
.b_capacity__sidebar-no-hit {
  font-size: 15px;
  line-height: 21px;
  padding-bottom: 30px;
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_capacity__sidebar-no-hit {
    position: absolute;
    color: white;
    right: 11px;
    top: 152px;
    width: 255px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 740px) {
  .b_capacity__sidebar-no-hit {
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_capacity__sidebar-no-hit {
    font-size: 16px;
    line-height: 23px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1399px) {
  .b_capacity__sidebar-no-hit .b-text {
    background: transparent;
  }
}
@media screen and (max-width: 739px) {
  .b_capacity__header {
    background: url(../img/bg-work.png) top left no-repeat;
    background-size: cover;
    margin: -34px -20px 33px -20px;
    padding: 94px 16px 10px 16px;
  }
}
@media screen and (min-width: 1400px) {
  .b_capaciy__main-text__intro {
    max-width: 453px;
  }
}
.capacity-infographic {
  color: #000;
}
@media screen and (min-width: 740px) {
  .capacity-infographic {
    color: white;
  }
}
.capacity-infographic__row {
  background-size: 77px auto!important;
  overflow: hidden;
  height: 94px;
  position: relative;
}
@media screen and (max-width: 739px) {
  .capacity-infographic__row:before {
    content: "";
    display: block;
    width: 278px;
    height: 2px;
    border-bottom: 1px dotted;
    top: 34px;
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 740px) {
  .capacity-infographic__row {
    background-size: 59px auto!important;
    max-width: 50%;
    border-bottom: 1px dotted;
  }
}
@media screen and (min-width: 1400px) {
  .capacity-infographic__row {
    max-width: 483px;
    margin-bottom: 37px;
    background-size: 94px auto!important;
  }
}
.capacity-infographic__row--1 {
  background: url(../img/height-sm.svg) 0px 9px no-repeat;
  margin-bottom: 30px;
}
@media screen and (min-width: 740px) {
  .capacity-infographic__row--1 {
    background: url("../img/height-sm-white.svg") bottom left no-repeat;
    margin-bottom: 55px;
  }
}
.capacity-infographic__row--2 {
  background: url("../img/height-lg.svg") top left no-repeat;
}
@media screen and (max-width: 739px) {
  .capacity-infographic__row--2 {
    padding-top: 30px;
    height: 122px;
  }
}
@media screen and (max-width: 739px) {
  .capacity-infographic__row--2:before {
    top: 67px;
  }
}
@media screen and (min-width: 740px) {
  .capacity-infographic__row--2 {
    background: url("../img/height-lg-white.svg") bottom left no-repeat;
  }
}
.capacity-infographic__number {
  font-size: 30px;
  line-height: 42px;
  font-weight: 900;
  margin-left: 92px;
  margin-top: -5px;
}
@media screen and (min-width: 740px) {
  .capacity-infographic__number {
    margin-left: 80px;
    float: left;
    margin-top: 0;
    padding-top: 52px;
  }
}
@media screen and (min-width: 1400px) {
  .capacity-infographic__number {
    font-size: 50px;
    line-height: 61px;
    margin-left: 118px;
    padding-top: 37px;
  }
}
.capacity-infographic__text {
  margin-left: 92px;
  padding-top: 9px;
}
@media screen and (min-width: 740px) {
  .capacity-infographic__text {
    float: right;
    margin-left: auto;
    padding-top: 51px;
  }
}
.no-hit__icon {
  width: 87px;
  margin-bottom: 15px;
  margin-top: 5px;
}
@media screen and (min-width: 740px) {
  .no-hit__icon {
    margin-bottom: 20px;
    width: 59px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .no-hit__icon {
    margin-bottom: 35px;
    width: 200px;
    margin-top: 21px;
  }
}
.b_keramo-width {
  font-size: 15px;
  line-height: 21px;
  overflow: hidden;
}
@media screen and (max-width: 739px) {
  .b_keramo-width {
    margin-bottom: 0!important;
  }
}
@media screen and (min-width: 740px) {
  .b_keramo-width {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 740px) {
  .b_keramo-width {
    margin-bottom: 78px;
  }
}
.b_keramo-width__main-text {
  margin-bottom: 35px;
}
@media screen and (min-width: 740px) {
  .b_keramo-width__main-text {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .b_keramo-width__main-text {
    margin-bottom: 87px;
  }
}
.b_keramo-width__cutting-text {
  font-size: 15px;
  line-height: 21px;
  padding-top: 27px;
  border-top: 5px solid #f1f1f1;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 740px) {
  .b_keramo-width__cutting-text {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 186px;
    font-size: 13px;
    line-height: 18px;
    border-top: 0;
    padding-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b_keramo-width__cutting-text {
    max-width: 355px;
    font-size: 16px;
    line-height: 25px;
    right: 76px;
  }
}
.b_keramo-width__cutting-text p {
  margin-left: 90px;
}
@media screen and (min-width: 740px) {
  .b_keramo-width__cutting-text p {
    margin-left: 0;
  }
}
.b_keramo-width__img {
  margin-bottom: 12px;
}
@media screen and (min-width: 740px) {
  .b_keramo-width__img {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1400px) {
  .b_keramo-width__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 740px) {
  .b_keramo-width .h3 {
    margin-top: 7px;
  }
}
.cutting-text__i {
  font-size: 63px;
  position: relative;
  float: left;
}
@media screen and (min-width: 740px) {
  .cutting-text__i {
    float: none;
    font-size: 77px;
    display: block;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1400px) {
  .cutting-text__i {
    font-size: 121px;
    margin-right: 35px;
    float: left;
    left: -15px;
  }
}
/*
a:link,
a:visited,
input,
input:focus,

button:hover,
.search__body,
.search__body.active,
.panel--from-right,
.btn--sandwich__line,
a img,
a:hover img,
label,
label:hover
{
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
*/
a,
input,
button,
a img,
label,
.search__body,
.search__body.active,
.panel--from-right,
.btn--sandwich__line {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
a:hover,
input:focus,
button:hover,
a:hover img,
label:hover,
.filter__available label,
.filter__available label:active {
  transition: none;
}
/*
.b-menu--img a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}*/
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}
.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.jq-selectbox {
  z-index: 10;
}
.jq-selectbox__select {
  position: relative;
}
.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
  position: absolute;
}
.jq-selectbox__search input {
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}
.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.jq-number {
  display: inline-block;
}
.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}
/*theme*/
.jq-checkbox,
.jq-radio {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}
.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #08C;
}
.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: 0.55;
}
.jq-checkbox {
  border-radius: 3px;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 3px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.jq-radio {
  border-radius: 50%;
}
.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jq-file {
  width: 270px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.jq-file input {
  cursor: pointer;
}
.jq-file__name {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
}
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}
.jq-file:hover .jq-file__browse {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0;
}
.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.jq-number__field:hover {
  border-color: #B3B3B3;
}
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}
.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}
.jq-number__spin:hover {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
.jq-number__spin:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA;
}
.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA;
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  padding: 0;
}
.jq-selectbox.jqselect.dropdown.label {
  padding-left: 0;
}
.jq-selectbox__select {
  height: 32px;
  border-bottom: 1px solid #00894D;
  text-align: left;
  font-weight: normal;
  padding-left: 0;
  padding-top: 8px;
  border-radius: 0px;
  background: white;
  font-size: 13px;
  line-height: 14px;
  color: #888888;
}
.filter .jq-selectbox__select {
  width: 245px;
}
.jq-selectbox__select-text {
  display: block;
  width: 100%;
}
.jq-selectbox .placeholder {
  color: #888;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 5px solid #00894D;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox__trigger-arrow:before {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  margin: 2px 0 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
}
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20;
}
.jq-selectbox li.selected {
  background-color: #000;
  color: #FFF;
}
li.label.sel.selected,
li.label.sel {
  display: none;
}
.jq-selectbox li:hover {
  background-color: #000;
  color: #FFF;
}
.jq-selectbox li.disabled {
  color: #AAA;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}
.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}
.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
}
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}
.jq-select-multiple li.disabled {
  color: #AAA;
}
.jq-select-multiple li.optgroup {
  font-weight: bold;
}
.jq-select-multiple li.option {
  padding-left: 25px;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}
input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
}
input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea.styler {
  overflow: auto;
}
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}
input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}
button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: linear-gradient(#F6F6F6, #E6E6E6);
}
button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}
/*
    Name: YouTubePopUp
    Description: jQuery plugin to display YouTube or Vimeo video in PopUp, responsive and retina, easy to use.
    Version: 1.0.2
    Plugin URL: http://wp-time.com/youtube-popup-jquery-plugin/
    Written By: Qassim Hassan
    Twitter: @QQQHZ
    Websites: wp-time.com | qass.im | wp-plugins.in
    Dual licensed under the MIT and GPL licenses:
        http://www.opensource.org/licenses/mit-license.php
        http://www.gnu.org/licenses/gpl.html
    Copyright (c) 2016 - Qassim Hassan
*/
.YouTubePopUp-Wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 9999999999999;
}
.YouTubePopUp-animation {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: YouTubePopUp;
  animation-name: YouTubePopUp;
}
@-webkit-keyframes YouTubePopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes YouTubePopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.logged-in .YouTubePopUp-Wrap {
  /* For WordPress */
  top: 32px;
  z-index: 99998;
}
.YouTubePopUp-Content {
  max-width: 680px;
  display: block;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.YouTubePopUp-Content iframe {
  max-width: 100% !important;
  width: 100% !important;
  display: block !important;
  height: 480px !important;
  border: none !important;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.YouTubePopUp-Hide {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: YouTubePopUpHide;
  animation-name: YouTubePopUpHide;
}
@-webkit-keyframes YouTubePopUpHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes YouTubePopUpHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.YouTubePopUp-Close {
  position: absolute;
  top: 0;
  cursor: pointer;
  bottom: 528px;
  right: 0px;
  margin: auto 0;
  width: 24px;
  height: 24px;
  background: url(../images/close.png) no-repeat;
  background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  -o-background-size: 24px 24px;
}
.YouTubePopUp-Close:hover {
  opacity: 0.5;
}
@media all and (max-width: 768px) and (min-width: 10px) {
  .YouTubePopUp-Content {
    max-width: 90%;
  }
}
@media all and (max-width: 600px) and (min-width: 10px) {
  .YouTubePopUp-Content iframe {
    height: 320px !important;
  }
  .YouTubePopUp-Close {
    bottom: 362px;
  }
}
@media all and (max-width: 480px) and (min-width: 10px) {
  .YouTubePopUp-Content iframe {
    height: 220px !important;
  }
  .YouTubePopUp-Close {
    bottom: 262px;
  }
}
div.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 16px;
}
@media screen and (min-width: 740px) {
  div.modal-content {
    padding: 30px 45px;
  }
}
@media screen and (min-width: 740px) {
  div.modal-dialog {
    width: 618px;
    margin-top: 130px;
  }
}
.auth-modal__tabs.nav-tabs {
  font-size: 24px;
  line-height: 24px;
  height: 53px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 50px;
}
@media screen and (min-width: 740px) {
  .auth-modal__tabs.nav-tabs {
    font-size: 40px;
    line-height: 46px;
    height: 78px;
  }
}
.auth-modal__tabs.nav-tabs li {
  margin-right: 30px;
  position: absolute;
}
.auth-modal__tabs.nav-tabs li.active {
  margin-right: 20px;
  margin-top: 2px;
}
.auth-modal__tabs.nav-tabs li.tab-reg {
  left: 120px;
}
@media screen and (min-width: 740px) {
  .auth-modal__tabs.nav-tabs li.tab-reg {
    left: 174px;
  }
}
.auth-modal__tabs.nav-tabs a,
.auth-modal__tabs.nav-tabs a:hover,
.auth-modal__tabs.nav-tabs a:focus {
  color: #000;
  border-radius: 0;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  top: 0;
  transition: none;
}
.auth-modal__tabs.nav-tabs a:hover {
  color: #ef1d26;
}
.auth-modal__tabs.nav-tabs .active {
  font-weight: 900;
  border-bottom: 5px solid #ef1d26;
  background: none;
}
@media screen and (min-width: 740px) {
  .auth-modal__tabs.nav-tabs .active {
    border-bottom: 7px solid #ef1d26;
  }
}
.auth-modal__tabs.nav-tabs .active a,
.auth-modal__tabs.nav-tabs .active a:hover,
.auth-modal__tabs.nav-tabs .active a:focus {
  background: none;
  color: #000;
  padding: 6px 0;
  top: 2px;
  margin-bottom: -2px;
}
.auth-modal__btn-enter,
.auth-modal__btn-reg {
  margin-top: 35px;
  margin-bottom: 47px;
}
/*аним инпут*/
.animated-input {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  margin-bottom: 27px;
  font-size: 16px;
}
.animated-input__input {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: none;
  width: 100%;
  padding: 1.5em 1em 0.5em;
  position: relative;
  z-index: 2;
  font-size: 20px;
}
.animated-input__input:focus {
  outline: none;
}
.animated-input__placeholder {
  box-sizing: border-box;
  border: none;
  background: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-left: 0;
  left: 0;
  top: 50%;
  line-height: 1em;
  margin-top: -3px;
  color: #bbbbbb;
  font-size: 18px;
  transition: all 0.2s ease;
}
@media screen and (min-width: 740px) {
  .animated-input__placeholder {
    font-size: 20px;
  }
}
.animated-input__input_filled + .animated-input__placeholder,
.animated-input__input:focus + .animated-input__placeholder {
  font-size: 0.8em;
  top: 0;
  margin-top: 0.1em;
}
.auth-modal__link {
  font-size: 16px;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 8px;
  z-index: 2;
}
@media screen and (min-width: 740px) {
  .auth-modal__link {
    font-size: 20px;
  }
}
button.close.modal-close {
  right: 8px;
  position: absolute;
  top: 11px;
  font-size: 17px;
  color: #bbbbbb;
  opacity: 1;
}
@media screen and (min-width: 740px) {
  button.close.modal-close {
    right: -57px;
    top: 3px;
    font-size: 29px;
    color: white;
  }
}
button.close.modal-close:hover {
  opacity: 0.5;
}
button.multiselect {
  width: 290px;
  height: 34px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #00894D;
  text-align: left;
  font-weight: normal;
  padding-left: 0;
  padding-top: 8px;
  border-radius: 0px;
  background: white;
  font-size: 13px;
  line-height: 14px;
  color: #888888;
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}
@media screen and (min-width: 1400px) {
  button.multiselect {
    width: 245px;
  }
}
button.multiselect:hover,
button.multiselect:active,
button.multiselect:focus {
  background: white!important;
  border-bottom: 1px solid #00894D !important;
  border-color: #00894D !important;
  box-shadow: none;
}
button.multiselect .caret {
  position: absolute;
  display: block;
  top: 14px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 5px solid #00894D;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transform: rotate(-90deg);
}
@media screen and (min-width: 1400px) {
  button.multiselect .caret {
    transform: rotate(0deg);
  }
}
button.multiselect .caret:before {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  right: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
button.multiselect .multiselect-selected-text {
  display: block;
  overflow: hidden;
  margin-right: 10px;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: white;
}
.btn-group.open .dropdown-toggle:focus,
.btn-group.open .dropdown-toggle:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: white;
}
select[multiple] + .open > .dropdown-toggle.btn-default {
  border-color: #00894D !important;
}
/*fonts*/
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Regular-Web.eot");
  src: url("../fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular-Web.woff2") format("woff2"), url("../fonts/Graphik-Regular-Web.woff") format("woff"), url("../fonts/Graphik-Regular-Web.ttf") format("truetype");
}
@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-RegularItalic-Web.eot");
  src: url("../fonts/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-RegularItalic-Web.woff2") format("woff2"), url("../fonts/Graphik-RegularItalic-Web.woff") format("woff"), url("../fonts/Graphik-RegularItalic-Web.ttf") format("truetype");
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Medium-Web.eot");
  src: url("../fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Medium-Web.woff2") format("woff2"), url("../fonts/Graphik-Medium-Web.woff") format("woff"), url("../fonts/Graphik-Medium-Web.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Bold-Web.eot");
  src: url("../fonts/Graphik-Bold-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Bold-Web.woff2") format("woff2"), url("../fonts/Graphik-Bold-Web.woff") format("woff"), url("../fonts/Graphik-Bold-Web.ttf") format("truetype");
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Black-Web.eot");
  src: url("../fonts/Graphik-Black-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Black-Web.woff2") format("woff2"), url("../fonts/Graphik-Black-Web.woff") format("woff"), url("../fonts/Graphik-Black-Web.ttf") format("truetype"), url("../fonts/Graphik-Black-Web.svg#Graphik-Black-Web") format("svg");
}
body {
  font-family: 'Graphik';
  background: url("../img/bg-main.jpg");
}
.b-section--header {
  background: white;
  height: 52px;
  margin-bottom: 5px;
}
@media screen and (min-width: 740px) {
  .b-section--header {
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1400px) {
  .b-section--header {
    height: 80px;
    margin-bottom: 58px;
  }
}
.b-section--header__content {
  max-width: 1420px;
  margin: 0 auto;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 900;
  text-align: left;
}
.h5 {
  color: #ef1d26;
}
.h3 {
  font-size: 22px;
  line-height: 27px;
}
@media screen and (min-width: 740px) {
  .h3 {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1400px) {
  .h3 {
    font-size: 38px;
    line-height: 114%;
    margin-bottom: 20px;
  }
}
.h4 {
  font-size: 18px;
  line-height: 23px;
  margin-top: 7px;
}
@media screen and (min-width: 1400px) {
  .h4 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 35px;
  }
}
.text--intro + .h4 {
  margin-top: 31px;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
.w100 {
  width: 100%;
}
.clear {
  clear: both;
}
.padding-standart {
  padding: 16px;
}
@media screen and (min-width: 740px) {
  .padding-standart {
    padding: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .separation-lg {
    border-right: 4px solid #f1f1f1;
  }
}
@media screen and (min-width: 1400px) {
  .separation-lg--left {
    border-left: 4px solid #f1f1f1;
  }
}
input[type="text"],
input[type="password"] {
  border: 0;
  border-bottom: 1px solid #BDBDBD;
}
input[type="text"]:focus,
input[type="password"]:focus {
  outline: 0;
  border-color: #ef1d26;
}
.btn--primary {
  background: none;
  border: 0;
  color: #ef1d26;
  font-weight: 900;
  font-size: 13px;
  /*line-height: 14px;*/
  /*letter-spacing: 0.1em;*/
  outline: none;
  height: 28px;
  line-height: 26px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}
.btn--primary:link,
.btn--primary:hover,
.btn--primary:active {
  text-decoration: none;
  color: #ef1d26;
}
.btn--primary:hover {
  color: #F55D64;
}
.btn--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.btn--bigger {
  font-size: 16px;
}
.btn--w250 {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.btn--secondary {
  background: none;
  border: 0;
  color: #000000;
  outline: none;
}
.btn--outlined:hover {
  background: #F55D64;
  border-color: #F55D64;
  color: white;
}
.btn--w100 {
  font-size: 15px;
  line-height: 48px;
  height: 48px;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: bold;
}
@media screen and (min-width: 740px) {
  .btn--w100 {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
}
.btn--w100:hover {
  background: #F55D64;
}
.input-large {
  padding-left: 0;
  padding-right: 0;
}
.b-text {
  margin-left: -3px;
  margin-right: -2px;
  background: #ffffff;
  text-align: left;
  padding: 16px;
  /* padding-right: 50px;*/
}
@media screen and (min-width: 740px) {
  .b-text {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 740px) {
  .b-text--in-col {
    position: absolute;
    padding: 20px;
    height: 100%;
    left: 3px;
    right: 2px;
  }
}
@media screen and (min-width: 740px) {
  .b-text--indent-right {
    padding-right: 60px;
  }
}
@media screen and (min-width: 1400px) {
  .b-text--indent-right {
    padding-right: 50px;
  }
}
.no-margin-in-block {
  margin-left: -19px;
  margin-right: -19px;
}
@media screen and (min-width: 740px) {
  .no-margin-in-block {
    margin-left: -23px;
    margin-right: -23px;
  }
}
.text--invert {
  color: #ffffff;
}
section.b_section--inverted {
  background: white;
  border-bottom: 5px solid #f1f1f1;
  padding: 16px;
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
}
.btn--sandwich {
  display: block;
  width: 48px;
  height: 48px;
}
.btn--sandwich__line {
  height: 2px;
  width: 22px;
  background: red;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  transform-origin: top left;
}
.btn--sandwich__line.line1 {
  margin-top: -8px;
}
.btn--sandwich__line.line2 {
  margin-top: 0;
}
.btn--sandwich__line.line3 {
  margin-top: 8px;
}
.btn--sandwich.active .line1 {
  transform: rotate(45deg);
  transform-origin: center left;
}
.btn--sandwich.active .line3 {
  transform: rotate(-45deg);
}
.btn--sandwich.active .line2 {
  width: 0;
}
.nav-black li a {
  color: #000000;
  background: none;
}
.nav-black li a:link,
.nav-black li a:visited {
  color: #000000;
  background: none;
}
.nav-black li a:hover,
.nav-black li a:active {
  background: none!important;
  color: #ef1d26;
}
.nav-black li a:visited {
  color: #000000;
}
.link--black {
  color: #000000;
  background: none;
}
.link--black:link,
.link--black:visited {
  color: #000000;
  background: none;
  text-decoration: none;
}
.link--black:hover,
.link--black:active {
  background: none!important;
  color: #ef1d26;
  text-decoration: none;
}
.margin-default {
  padding: 20px;
}
.font--infographic {
  font-weight: 800;
  position: relative;
}
/*multi dropdown*/
ul.multiselect-container.dropdown-menu {
  width: 100%;
  border-radius: 0;
}
ul.multiselect-container.dropdown-menu a,
ul.multiselect-container.dropdown-menu label {
  background: white!important;
  color: #000;
}
ul.multiselect-container.dropdown-menu label.checkbox:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  float: left;
  margin-right: 20px;
  border: 2px solid #D0D0D0;
}
ul.multiselect-container.dropdown-menu li.active label.checkbox:before {
  /*   content: "\e823";
      font-family: "tileland";
      font-size: 16px;*/
}
ul.multiselect-container.dropdown-menu li.active label.checkbox:after {
  content: "\e823";
  display: block;
  position: absolute;
  color: #00894D;
  font-family: "tileland";
  font-style: normal;
  font-weight: normal;
  speak: none;
  top: -5px;
  left: 20px;
  font-size: 16px;
}
/*multi dropdown finished*/
.b-slogan {
  font: 15px/21px "Graphik", serif;
  text-align: left;
  position: relative;
  margin-bottom: 38px;
}
@media screen and (min-width: 740px) {
  .b-slogan {
    font: 18px/25px "Graphik", serif;
    /*    margin-bottom: 77px;*/
    position: absolute;
    margin-bottom: 57px;
    bottom: 28px;
    margin-bottom: 0;
    max-width: 280px;
  }
}
@media screen and (min-width: 1400px) {
  .b-slogan {
    bottom: 33px;
    line-height: 25px;
    max-width: 370px;
  }
}
.b-slogan:before {
  content: "";
  background: #ef1d26;
  height: 4px;
  width: 153px;
  display: block;
  position: absolute;
  bottom: -26px;
}
@media screen and (min-width: 740px) {
  .b-slogan:before {
    position: relative;
    margin-bottom: 20px;
    bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .b-slogan:before {
    width: 291px;
  }
}
h1 {
  font-size: 34px;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 54px;
    margin-top: 13px;
  }
}
h2 {
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 13px;
}
@media screen and (min-width: 740px) {
  h2 {
    font-size: 22px;
    line-height: 27px;
    margin-top: 9px;
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font-size: 40px;
    line-height: 44px;
    margin-top: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .col--lg20 {
    width: 20%!important;
  }
}
@media screen and (min-width: 1400px) {
  .col--lg60 {
    width: 60%!important;
  }
}
.position-relative {
  position: relative;
}
.b_section {
  margin-bottom: 15px;
  background: #ffffff;
}
@media screen and (min-width: 740px) {
  .b_section {
    margin-bottom: 30px;
    background: transparent;
  }
}
@media screen and (min-width: 1400px) {
  .b_section {
    margin-bottom: 40px;
  }
}
.btn--outlined {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background: none;
  text-shadow: none;
  font-weight: 600;
  border: 2px solid;
  text-decoration: none;
  height: 45px;
  line-height: 45px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
}
.btn--outlined:hover,
.btn--outlined:active,
.btn--outlined:link,
.btn--outlined:visited {
  text-decoration: none;
}
/*
.label.dropdown {
  border-bottom: 1px solid @brand-success;
  border-radius: 0;
  color: grey;
  font-size: 13px;
  line-height: 14px;
  font-weight: 100;
}
*/
.text--intro {
  font-size: 15px;
  line-height: 21px;
}
@media screen and (min-width: 740px) {
  .text--intro {
    line-height: 19px;
  }
}
@media screen and (min-width: 1400px) {
  .text--intro {
    font-size: 18px;
    line-height: 25px;
  }
}
/*index*/
