button.multiselect {
  width: 290px;
  height: 34px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid @brand-success;
  text-align: left;
  font-weight: normal;
  padding-left: 0;
  padding-top: 8px;
  border-radius: 0px;
  background: white;
  font-size: 13px;
  line-height: 14px;
  color: #888888;
  position: relative;
  overflow: hidden;
  padding-right: 10px;

  @media screen and (min-width: @col-lg) {
    width: 245px;
  }


  &:hover,
  &:active,
  &:focus {
    background: white!important;
    border-bottom: 1px solid @brand-success!important;
    border-color: @brand-success!important;
    box-shadow: none;
  }


  .caret {
    position: absolute;
    display: block;
    top: 14px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 5px solid @brand-success;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(-90deg);

@media screen and (min-width: @col-lg) {
  transform: rotate(0deg);
}

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: -6px;
      right: -5px;
      width: 0;
      height: 0;
      border-top: 5px solid white;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;

    }


  }
.multiselect-selected-text {
  display: block;
  overflow: hidden;
  margin-right: 10px;
}
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: white;

  &:focus,
  &:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    background: white;
  }
}

select[multiple] + .open > .dropdown-toggle.btn-default {
  border-color: @brand-success!important;
}