.make-container(@min-width; @pos) {
  @media (min-width: @min-width) {
    position: absolute;
    top: 0;
    height: 100%;
      @{pos}: 0;

    & > div {
      height: 100%;
    }
  }
}
.height100-right-sm {
  .make-container(@col-sm; right);
}

.height100-left-sm {
  .make-container(@col-sm; left);
}

.height100-right-lg {
  .make-container(@col-lg; right);



}

.height100-left-lg {
  .make-container(@col-lg; left);
}

.row.b_material__advantages .b-text {
  @media screen and (min-width: @col-sm) {
  min-height: 330px;
  }
}
.cart__text {
  font-size: 15px;
}

/*
.height100-right-lg > .b-text,
.height100-right-sm > .b-text {
  margin-left: -3px;
}
*/

.row.table-row > [class*="col-"].custom {
  text-align: center;
}




@media (min-width: @col-sm) {



  .row.table-row {display:table;width:100%;margin:0 auto;}

  .row.table-row > [class*="col-"] {
    float:none;
    display:table-cell;
    vertical-align:top;
  }

  .row.table-row > .col-sm-11 {
    width: 91.66666666666666%;
  }
  .row.table-row > .col-sm-10 {
    width: 83.33333333333334%;
  }
  .row.table-row > .col-sm-9 {
    width: 75%;
  }
  .row.table-row > .col-sm-8 {
    width: 66.66666666666666%;
  }
  .row.table-row > .col-sm-7 {
    width: 58.333333333333336%;
  }
  .row.table-row > .col-sm-6 {
    width: 50%;
  }
  .row.table-row > .col-sm-5 {
    width: 41.66666666666667%;
  }
  .row.table-row > .col-sm-4 {
    width: 33.33333333333333%;
  }
  .row.table-row > .col-sm-3 {
    width: 25%;
  }
  .row.table-row > .col-sm-2 {
    width: 16.666666666666664%;
  }
  .row.table-row > .col-sm-1 {
    width: 8.333333333333332%;
  }

}

@media (min-width: 992px) {
  .row.table-row > .col-md-11 {
    width: 91.66666666666666%;
  }
  .row.table-row > .col-md-10 {
    width: 83.33333333333334%;
  }
  .row.table-row > .col-md-9 {
    width: 75%;
  }
  .row.table-row > .col-md-8 {
    width: 66.66666666666666%;
  }
  .row.table-row > .col-md-7 {
    width: 58.333333333333336%;
  }
  .row.table-row > .col-md-6 {
    width: 50%;
  }
  .row.table-row > .col-md-5 {
    width: 41.66666666666667%;
  }
  .row.table-row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .row.table-row > .col-md-3 {
    width: 25%;
  }
  .row.table-row > .col-md-2 {
    width: 16.666666666666664%;
  }
  .row.table-row > .col-md-1 {
    width: 8.333333333333332%;
  }

}


@media (min-width: @col-lg) {
  .row.table-row > .col-lg-11 {
    width: 91.66666666666666%;
  }
  .row.table-row > .col-lg-10 {
    width: 83.33333333333334%;
  }
  .row.table-row > .col-lg-9 {
    width: 75%;
  }
  .row.table-row > .col-lg-8 {
    width: 66.66666666666666%;
  }
  .row.table-row > .col-lg-7 {
    width: 58.333333333333336%;
  }
  .row.table-row > .col-lg-6 {
    width: 50%;
  }
  .row.table-row > .col-lg-5 {
    width: 41.66666666666667%;
  }
  .row.table-row > .col-lg-4 {
    width: 33.33333333333333%;
  }
  .row.table-row > .col-lg-3 {
    width: 25%;
  }
  .row.table-row > .col-lg-2 {
    width: 16.666666666666664%;
  }
  .row.table-row > .col-lg-1 {
    width: 8.333333333333332%;
  }

}
