.header {
  background: #ffffff;
  height: 52px;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;

  .nav {
    @media screen and (min-width: @col-lg) {
      padding-top: 13px;
      margin-left: -15px;
      margin-right: -15px;
    }
    a:hover,
    a:active {
      color: @brand-primary!important;
    }
  }

  @media screen and (min-width: @col-sm) {
    margin-bottom: 22px;
  }


  @media screen and (min-width: @col-lg) {
    height: 80px;
    }


  &__content {
    box-sizing: border-box;

    @media screen and (min-width: @col-lg) {
      max-width: 1424px;

      margin: 0 auto;
      border-left: 4px solid @gray-light;
      border-right: 4px solid @gray-light;
    }
  }

  &__navbar {
    &.navbar {
      border-top: 0;
      border-bottom: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      border: none;

@media screen and (max-width: 1399px) {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}



    }


  }

  &__brand {

    float: left;
    height: 52px;
    position: relative;
    z-index: 100;

    padding-left: 16px;
    padding-right: 16px;


      @media screen and (min-width: @col-lg) {

        width: 183px;
        text-align: center;
        height: 80px;
        padding-left: 0;

      }

      a.navbar-brand {
        padding-top: 19px;
        float: none!important;
        display: inline-block!important;

        @media screen and (min-width: @col-lg) {
          padding-top: 30px;
        }

      }

      &__logo {
        width: 115px;
      }
  }

  &__search {
    float: left;

    @media screen and (min-width: @col-sm) {
      padding-left: 7px;
      padding-top: 18px;
    }

    @media screen and (min-width: @col-lg) {
     /* width: 597px;*/
      padding-left: 25px;
      padding-right: 0px;
      width: 560px;
        height: 80px;
      /*line-height: 78px;*/
      padding-top: 22px;



    }

    &__label {
      font-size: 16px;
      line-height: 18px;
      float: left;
      margin-right: 30px;
      padding-top: 19px;

      @media screen and (min-width: @col-lg) {
        padding-top: 30px;
      }

    }

    a {
      @media screen and (min-width: @col-lg) {
        padding-top: 7px;
        display: block;
      }
    }

    &__body {
      float: left;

      @media screen and (min-width: @col-lg) {
        /*margin-top: 21px;*/
        margin-left: 211px;
        float: none;
        top:-1px;
      }




    }

  }


  &__navigation {

    margin-right: 75px;

    @media screen and (min-width: @col-lg) {

      padding-left: 25px;
      padding-right: 25px;
      margin-right: 0;
        height: 80px;

    }

    .nav.navbar-nav {


      @media screen and (min-width: @col-lg) {
        padding-top: 13px;
        margin-left: -15px;
        margin-right: -15px;
      }

      & > li > a {

        @media screen and (min-width: @col-sm) {
          position: relative;
          display: block;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 18px;
            /*padding-top: 18px;*/

        }
        @media screen and (min-width: @col-lg) {
          padding-left: 12px;
          padding-right: 12px;
        }

      }
    }


    &__phone {
        padding-top: 29px;

    }
  }

  &__user-block {
    @media screen and (min-width: @col-lg) {
width: 258px;
      padding-left: 25px;
      padding-right: 25px;

      height: 80px;

    }

  }

  .btn--primary {
    line-height: 33px;
    height: 37px;

    &:hover {
      color: @brand-primary;
      background: white;
    }
  }
}

.search__body {
  position: relative;
  height: 36px;



@media screen and (max-width: 1399px) {
  position: absolute;
  right: 87px;
  top: 8px;
  width: 36px;
  z-index: 100;
  background: white;
  overflow: hidden;



}
  &.active {

    @media screen and (max-width: 739px)  {
      width: calc(100% - 100px);
    }

  @media screen and (min-width: @col-sm) and (max-width: 1399px) {

      //@media screen and (max-width: 739px) {
   width: 400px;
}
    //}

  }

  &:before {
    @media screen and (min-width: @col-lg) {
      content: '\e80e';
      font-family: "tileland";
      color: @brand-primary;
      position: absolute;
      left: 0;
      top: 50%;
      height: 18px;
      margin-top: -9px;
      font-size: 14px;
    }
  }

    &__input {
      border-color: @brand-primary!important;
      font-size: 16px;
      line-height: 18px;
      height: 36px;
      line-height: 36px;
      color: #000000;

      @media screen and (max-width: 1399px) {

        position: absolute;
        left: 0px;
        width: 100%;
      }

      @media screen and (min-width: @col-lg) {
        padding-left: 22px;
        width: 95%;
      }

      &::-webkit-input-placeholder {
        color: #000000;
      }
      &::-moz-placeholder {
        color: #000000;
      }
      &:-ms-input-placeholder {
        color: #000000;
      }
      &:-moz-placeholder {
        color: #000000;
      }

        &:focus {
          &::-webkit-input-placeholder {
            color: #ffffff;
          }
          &::-moz-placeholder {
            color: #ffffff;
          }
          &:-ms-input-placeholder {
            color: #ffffff;
          }
          &:-moz-placeholder {
            color: #ffffff;
          }
        }
      }
    &__button {
      height: 36px;
      width: 36px;
      right: 0;
      position: absolute;
      background: white!important;
      z-index: 2;

      i {
        font-size: 18px;

        margin-right: 10px;
      }



    }
    }


.panel-nav-mob {



  position: fixed;
  top: 0;

  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  visibility: hidden;
  left: 100%;

  &.active {
    left: 0;
    visibility: visible;
  }

  &__content {
    padding-top: 70px;
    font-size: 15px;
    line-height: 17px;


  }

  &__navigation  {

    &>li {
      float: none!important;
    }

    &>li>a {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    button {
      padding-left: 0;
    }
  }

  @media screen and (min-width: @col-lg) {
    display: none;
  }

}

.cart {

  @media screen and (max-width: 1399px) {
    position: absolute;
   right: 34px;
   top: 0;
}

  &__count {
  color: @brand-primary;
  position: relative;
    margin-right: 9px;
  float: left;

    @media screen and (min-width: @col-sm) {
      margin-right: 5px;
    }

  i {
    font-size: 18px;
    margin-right: 9px;
  }
  &__number {
    font-weight: 900;
    font-size: 13px;
    position: absolute;
    top: -5px;
    left: 9px;
  }
}
  &__text {
    white-space: nowrap;
  }
}

.header-navbar {
&__button {
  right: 0;
  z-index: 100;
  position: absolute;

}
}