.b-menu {
  &--text {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  &--inverted {
    a {
    color: #ffffff;

      &:hover,
      &:active,
      &:visited,
      &:link {
        text-decoration: none;
      }
      &:hover, &:active {
        color: @brand-primary;
      }

      &:visited {
          color: #ffffff;
        }

    }
  }

  &--img {
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;

    @media screen and (min-width: @col-lg) {
      position: relative;
      left: -1px;
    }

    &__header {
      position: absolute;
      bottom: 9px;
      left: 20px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px;

      @media screen and (min-width: @col-lg) {
        font-size: 20px;
        line-height: 26px;
        bottom: 20px;
      }

    }

    li {
      list-style-type: none;
      margin-bottom: 5px;

      @media screen and (max-width: 739px) {
        padding-left: 0;
        padding-right: 0;
      }

      @media screen and (min-width: @col-sm) {
        &.line--last-md {
          margin-bottom: 0;
        }
      }

      @media screen and (min-width: @col-lg) {
        &.line--last-lg {
          margin-bottom: 0;
        }
      }

      a {
        display: block;
        opacity: 1;
        @media screen and (min-width: @col-sm) {
          background-size: cover;
        }
        @media screen and (min-width: @col-lg) {
          background-size: cover;
        }

        img {
          opacity: 1;
        }

        &:hover {
          opacity: 0.8;
          @media screen and (min-width: @col-sm) {
            background-size: cover;
          }
          @media screen and (min-width: @col-lg) {
            background-size: cover;
          }
        }

        &:hover img {
          opacity: 0.8;
        }
      }
    }


  }

  &--img-video {
    position: relative;

    a {

    &:before {
      @media screen and (min-width: @col-lg) {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -20px;
        margin-left: -18px;
        right: 50%;
        width: 36px;
        height: 40px;
        background: url("../img/play.svg") center center;
        background-size: cover;
        z-index: 2;


      }
    }
    }
  }
}