div.modal-content {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
padding: 16px;
  @media screen and (min-width: @col-sm) {
    padding: 30px 45px;
  }

}

div.modal-dialog {
  @media screen and (min-width: @col-sm) {
    width: 618px;
    margin-top: 130px;

  }

}

.auth-modal {
  &__tabs.nav-tabs {
font-size: 24px;
    line-height: 24px;
    height: 53px;

    @media screen and (min-width: @col-sm) {
      font-size: 40px;
      line-height: 46px;
      height: 78px;
    }

    border-bottom: 1px solid #d1d1d1;

    margin-bottom: 50px;

    li {
      margin-right: 30px;
      position: absolute;

      &.active {
        margin-right: 20px;
        margin-top: 2px;

      }

      &.tab-reg {
        left: 120px;

        @media screen and (min-width: @col-sm) {
          left: 174px;
        }
      }
    }


    a, a:hover, a:focus {
      color: #000;
      border-radius: 0;
      background: none;
      border: none;
      padding-left: 0;
      padding-right: 0;
      top: 0;
      transition: none;
    }

    a:hover {
      color: @brand-primary;
    }

    .active {
      font-weight: 900;
      border-bottom: 5px solid @brand-primary;
      background: none;

      @media screen and (min-width: @col-sm) {
        border-bottom: 7px solid @brand-primary;
      }

      a, a:hover, a:focus {
        background: none;
        color: #000;
        padding: 6px 0;
        top: 2px;
        margin-bottom: -2px;
      }
    }
  }
&__btn-enter,
&__btn-reg {
  margin-top: 35px;
  margin-bottom: 47px;
}
}



/*аним инпут*/

.animated-input {
  box-sizing: border-box;

  width: 100%;
  position: relative;
  margin-bottom: 27px;
  font-size: 16px;



  &__input {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    background: none;
    width: 100%;
    padding: 1.5em 1em 0.5em;
    position: relative;
    z-index: 2;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    box-sizing: border-box;
    border: none;
    background: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-left: 0;
    left: 0;
    top: 50%;
    line-height: 1em;
    margin-top: -3px;
    color: #bbbbbb;
    font-size: 18px;
    transition: all 0.2s ease;

    @media screen and (min-width: @col-sm) {
      font-size: 20px;
    }
  }
}

.animated-input__input_filled + .animated-input__placeholder,
.animated-input__input:focus + .animated-input__placeholder {
  font-size: 0.8em;
  top: 0;
  margin-top: 0.1em;
}



.auth-modal__link {
  font-size: 16px;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 8px;
  z-index: 2;

  @media screen and (min-width: @col-sm) {
    font-size: 20px;
  }
}


button.close.modal-close {
  right: 8px;
  position: absolute;
  top: 11px;
  font-size: 17px;
  color: #bbbbbb;
  opacity: 1;

@media screen and (min-width: @col-sm) {
  right: -57px;
  top: 3px;
  font-size: 29px;
  color: white;
}



  &:hover {
    opacity: 0.5;
  }
}