@col-lg: 1400px;
@col-sm: 740px;

@brand-primary: #ef1d26;
@gray-light: #f1f1f1;
@brand-success: #00894D;
@light-red: #F55D64;
@gray: #CBCBCB;

@padding-standart: 20px;
@padding-standart-mob: 16px;