.b_collections {

  h2 {
    padding: 6px 16px 0 16px;


    @media screen and (min-width: @col-sm) {
      padding: 0px;
      margin-bottom: 7px;
  }
    @media screen and (min-width: @col-lg) {
      margin-bottom: 12px;
      margin-bottom: 35px;
    }
  }

  &__sidebar.b-text--in-col {
    padding: 0;
  }

  &__menu {
    @media screen and (max-width: 739px) {
      overflow-x: scroll;
      overflow-y: hidden;
      height: 207px;
    }

    ul {
  @media screen and (max-width: 739px) {
 /*   overflow-x: scroll;
    height: 213px;*/
    width: 1100px;

  }
    }

    li {
      overflow: hidden;

      &:first-child {
        @media screen and (max-width: 739px) {
          margin-left: 13px;
        }
      }

      @media screen and (max-width: 739px) {
        float: left;
        width: 270px;
      }

      @media screen and (min-width: @col-sm) {
        height: 272px;
      }
      @media screen and (min-width: @col-lg) {
        height: 260px;
      }

      img {
        width: 270px;
        @media screen and (min-width: @col-sm) {
          width:100%;
          max-width: 100%;
        }
      }
    }

    .b-menu--img__header {
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  &__sidebar {



  }
}

