.filter {

  text-align: left;

  @media screen and (max-width: 1399px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 0;
    display: none;
  }










  &__header {

    &.b-text {
     /* padding-bottom: 15px;*/
      @media screen and (max-width: 1399px) {
        padding-right: 0;
      }
    }

    @media screen and (max-width: 1399px) {
    /*  border-bottom: 4px solid @gray-light;*/
      padding-top: 0!important;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }





* > div {
  @media screen and (max-width: 1399px) {
    border-bottom: 4px solid @gray-light;
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
  }

}
  }

  &__name {
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    padding-top: 4px;


  }

  &__body {

@media screen and (max-width: 739px) {

    overflow-y: scroll;
  overflow-x: hidden;
    margin-bottom: 0px;
    /* position: absolute; */
  width: 100%;
    bottom: 0px;
    top: 117px;
    position: fixed;

}

    &:after {
      @media screen and (min-width: @col-lg) {
        content: "";
        display: block;
        position: absolute;
        /* width: auto; */
        height: 83px;
        right: 2px;
        left: 3px;
        bottom: 77px;
        background: #ffffff;
        z-index: -1;
      }
    }



  }

  &__footer {
    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid @gray-light;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }


    .button-all-filters {
width: 250px;
      margin: 0 auto;
    }
  }

  &__section {

    @media screen and (max-width: 1399px) {
      border-bottom: 4px solid @gray-light;
    }

    @media screen and (min-width: @col-lg) {
      margin-bottom: 4px;
    }




    label, a {
      cursor: pointer;
      padding-left: 14px;
      padding-right: 14px;
      display: block;
      font-size: 13px;
      font-weight: normal;
      background: @gray-light;
      position: relative;
      text-decoration: none;

      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;

      &.label--outside {
        background: none;
      }

      &:hover {
        background: #CBCBCB;
      }

    }

    a {
      padding-left: 7px!important;
      padding-right: 7px!important;
    }

    input[type="checkbox"] {
      clip: rect(0,0,0,0);
      position: absolute;
    }
    input:checked + label {
      background: @brand-success;
      color: white;
    }
    ul {
      margin-bottom: 0;
    }

  }


  &__item--inline {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__item--pic {
    display: block;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;


    label {
      width: 83px;
      height: 74px;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;

      i {
        font-size: 34px;
        top: 6px;
        display: block;
        position: relative;
        margin-bottom: 2px;
      }
    }
  }
  .filter-section {
  &__name {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    display: block;
    margin-top: 9px;

    @media screen and (min-width: @col-lg) {
      margin-top: 3px;
    }
  }
  }

  &__available {
    width: 60px;
    display: block;
    border: 1px solid @brand-success;
    background: #ffffff;

    & + .label--outside {
      padding-top: 5px;
    }
  }

  &__item--toggle {
    float: left;
    width: 23px;
    height: 25px;
    background: white;
    position: relative;

    &:first-child {
     /* width: 35px;*/
    }

    &:nth-child(2) {
      right: 0;
      width: 35px;
    }



    label {
      padding: 0;
      background: white;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
     /* width: 25px;*/

      &:hover {
        background: white;
      }


    }
    input:checked+label {

      background: @brand-success;
      width: 35px;
      min-width: 35px;
      z-index: 5;

    }

    &:first-child input:checked+label {
      background: @gray;
    }


    
  }


  .label.dropdown {
    width: 245px;
  }


&__button.btn--primary {
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-top: 6px;

  @media screen and (max-width: 739px) {
    padding-left: 16px;
    margin-bottom: 12px;
  }

  i {
    font-size: 0.6em;
    top: -2px;
    position: relative;
    margin-left: 5px;
  }
}

&__collections {
  margin-top: 11px;
  margin-bottom: 18px;

  .filter-section__name {
    margin-bottom: 0;
  }
}

 &__list-pics {
   overflow: hidden;
   padding-bottom: 20px;

   @media screen and (min-width: @col-lg) {
     padding-bottom: 0;
   }
 }

}

.button--clear {
  top: -2px;
  position: relative;
  height: 22px!important;

  @media screen and (min-width: @col-lg) {
    float: right;
    height: auto;
  }
}

.button-all-filters {
  display: block;
  text-align: center;
}

.button-show-more {
  display: block;
  text-align: center;

  @media screen and (min-width: @col-lg) {
    height: 54px!important;
    line-height: 54px!important;
  }


}

.f--hidden {
  display: none;
}

.button--close-filter {
  right: 32px;
  top: -43px;
  position: absolute;
  font-size: 16px!important;
}