.b_keramo-production {

  &.b_section {
  @media screen and (max-width: @col-sm) {
    padding-bottom: 36px;
  }
  }

  &__content {
    background: url("../img/bg-production.jpg") top left no-repeat;
    background-size: cover;
       &.padding-standart {
      padding-bottom: 24px;

      @media screen and (min-width: @col-lg) {
        padding-bottom: 76px;
      }
    }



    .text--intro {
      font-size: 18px;
      line-height: 25px;
    }

.h3 {
  @media screen and (max-width: 739px) {
    margin-top: 6px;
    margin-bottom: 0;
  }

}
  }

  &__btn-video {
    margin-top: 30px;
    margin-bottom: 24px;
    padding-left: 55px!important;
    padding-right: 55px!important;

    @media screen and (min-width: @col-sm) {
      margin-top: 35px;
    }

    @media screen and (min-width: @col-sm) and (max-width: 1399px) {
      padding-left: 30px!important;
      padding-right: 30px!important;
    }

    @media screen and (min-width: @col-lg) {
      position: absolute;
      bottom: 58px;
      right: 76px;
    }

    i {
      padding-right: 8px;
    }
  }
}