.b_work {
  position: relative;

  h2 {
    @media screen and (max-width: 739px) {
      margin-bottom: 13px;
    }
  }

  .b-slogan {
    /*margin-bottom: 40px;*/
  }
  .b-slogan:before {
    width: 202px;

    @media screen and (min-width: @col-sm) {
      width: 131px;
    }

    @media screen and (min-width: @col-lg) {
      width: 290px;
    }
  }



  &__video {
    @media screen and (max-width: 739px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

  &__text {
    @media screen and (max-width: 739px) {
      margin-top: 175px;
    }

    .b-text {
    /* padding-bottom: 77px;*/
    }
  }

  &__video-link {
    display: block;
    position: relative;
    background: url("../img/work-video.jpg") center right no-repeat;
    background-size: 100% auto;

      @media screen and (min-width: @col-sm) {
        background-size: auto 100%;
      }

    height: 187px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -22px;
      margin-left: -18px;
      right: 50%;
      width: 36px;
      height: 44px;
      background: url(../img/play.svg) center center;
      background-size: cover;
      z-index: 2;

      @media screen and (min-width: @col-sm) {
        width: 53px;
        height: 60px;
        margin-top: -26px;
        margin-left: -30px;
      }

      @media screen and (min-width: @col-lg) {
        width: 90px;
        height: 104px;
        margin-left: -45px;
        margin-top: -52px;
      }

    }

    &:hover {
      opacity: 0.8;
    }

    @media screen and (min-width: @col-sm) {
      height: 441px;
    }


    @media screen and (min-width: @col-lg) {
      height: 526px;
    }
  }

}